﻿@model POSVITWeb.Models.muser
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>POS VIT Backend</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/Asset/img/logoposvitv.png">
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/nifty.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/nifty-demo-icons.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/nifty-demo.min.css")" rel="stylesheet">
    <script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/nifty.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-1.5.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.8.11.min.js" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <script>
        $(document).ready(function () {

        });
        function btnlinkforgot()
        {
            var email = document.getElementById("email").value;
            var pass = document.getElementById("password").value;
            if (email.length == 0) {
                alert("Fill Email");
            }
            else {
                window.location.href = "@Url.Action("LupaPass", "Home")?email=" + email;
            }
        }
    </script>
</head>
<body>
    <div id="container" class="cls-container">
        <div id="bg-overlay" class="bg-img"></div>
        <div class="cls-content">
            <div class="cls-content-sm panel">
                <div class="panel-body">
                    <img src="~/Asset/img/logoposvitv.png" width="50%" />
                    <div class="mar-ver pad-btm">
                        @if (ViewBag.Message == null)
                        {
                            <h3 class="h4 mar-no">Account Login</h3>
                        }
                        else
                        {
                            <h3 class="h4 mar-no">Account Login - @ViewBag.Message</h3>
                        }
                        <p class="text-muted">Sign In to your account</p>
                    </div>
                    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { }))
                    {

                        <div class="form-group">
                            @Html.TextBoxFor(model => model.muserid, new { @type = "text", @id = "email", @placeholder = "User Id", @class = "form-control", @autofocus = "autofocus", @required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.muserpass, new { @type = "password", @id = "password", @placeholder = "Password", @class = "form-control", @required = "required" })
                        </div>
                        @*<div class="form-group" style="text-align:right">
                            <label class="btn-link" onclick="btnlinkforgot()">Forgot Password</label>
                        </div>*@
                        <div class="form-group"><button class="btn btn-primary btn-lg btn-block form-control" type="submit">Sign In</button></div>

                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>

