﻿@model POSVITWeb.Models.WelcomeClass
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Asset/js/jquery.min.js"></script>
<script src="~/Asset/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script>
    function onclickchoose()
    {
        var getreference = document.getElementById("dropdowntipe4");
        var getvalue = getreference.options[getreference.selectedIndex].value;
        window.location.href = "@Url.Action("ChooseStoreFromWelcome", "Home")?kodelokasi=" + getvalue;
    }
</script>
<div>
    <div>
        <div id="page-content" style="font-size:16px">
            <div class="col-sm-12">
                <div class="panel panel-bordered panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Welcome Page</h3>
                    </div>
                    @if (ViewBag.Message != "" && ViewBag.Message != null)
                    {
                        <div class="mar-ver pad-btm" id="errormessage">
                            <h3 class="h4 mar-no">@ViewBag.Message</h3>
                        </div>
                    }
                    <div class="panel-body">
                        <div class="row pad-top">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-sm-3 col-lg-3">
                                        <div class="panel panel-success panel-colorful">
                                            <div class="pad-all">
                                                <p class="text-lg text-semibold"><i class="demo-pli-data-storage icon-fw"></i>Transfer Request</p>
                                                <p>For This Location</p>
                                                <div class="mar-no text-center">
                                                    <p class="mar-no">
                                                        <span class="text-bold" style="text-align:center;font-size:46px">@Model.trpending</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-lg-3">
                                        <div class="panel panel-info panel-colorful">
                                            <div class="pad-all">
                                                <p class="text-lg text-semibold"><i class="demo-pli-wallet-2 icon-fw"></i>Transfer Out</p>
                                                <p>For This Location</p>
                                                <div class="mar-no text-center">
                                                    <p class="mar-no">
                                                        <span class="text-bold" style="text-align:center;font-size:46px">@Model.tsopending</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-lg-3">
                                        <div class="panel panel-purple panel-colorful">
                                            <div class="pad-all">
                                                <p class="text-lg text-semibold"><i class="demo-pli-bag-coins icon-fw"></i>Stock Temp</p>
                                                <p>For This Location</p>
                                                <div class="mar-no text-center">
                                                    <p class="mar-no">
                                                        <span class="text-bold" style="text-align:center;font-size:46px">@Model.stocktemppending</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-lg-3">
                                        <div class="panel panel-warning panel-colorful">
                                            <div class="pad-all">
                                                <p class="text-lg text-semibold"><i class="demo-pli-check icon-fw"></i>Purchase Order</p>
                                                <p>For This Location</p>
                                                <div class="mar-no text-center">
                                                    <p class="mar-no">
                                                        <span class="text-bold" style="text-align:center;font-size:46px">@Model.popending</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group">
                <label class="col-sm-12 control-label" for="demo-hor-inputemail" style="text-align:center">Welcome, </label>
            </div>
            <div class="form-group">
                <label class="col-sm-12 control-label" for="demo-hor-inputemail" style="text-align:center">User Name : @Session["user_name"] </label>
            </div>
            <div class="form-group">
                <label class="col-sm-12 control-label" for="demo-hor-inputemail" style="text-align:center">User Role : @Session["role_name"] </label>
            </div>*@
                        @{
                            if (Session["real_kode_lokasi"].ToString().Equals("PUSAT"))
                            {
                                <div class="form-group">
                                    <label class="col-sm-5 control-label" for="demo-hor-inputemail" style="text-align:right">Choose Store</label>
                                    <div class="col-sm-3">
                                        @{
                                            List<SelectListItem> listItems9 = new List<SelectListItem>();
                                            listItems9.Add(new SelectListItem
                                            {
                                                Text = Session["kode_lokasi"].ToString() + " - " + Session["nama_lokasi"].ToString(),
                                                Value = Session["kode_lokasi"].ToString()
                                            });
                                            foreach (var item in Model.store)
                                            {
                                                listItems9.Add(new SelectListItem
                                                {
                                                    Text = item.kodelokasi + " - " + item.nama,
                                                    Value = item.kodelokasi
                                                });
                                            }
                                        }
                                        @Html.DropDownListFor(model => model.choosestore, listItems9, new { @id = "dropdowntipe4", @onchange = "onchangeevent4()", @class = "form-control" })
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" class="btn btn-primary fileinput-button dz-clickable" id="btnChoose" onclick="onclickchoose()">
                                            <span>Choose</span>
                                        </button>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

