﻿@model POSVITWeb.Models.EndofShiftClass
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Asset/js/jquery.min.js"></script>
<script src="~/Asset/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-3.1.1.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-1-8-23-ui.min.js" type="text/javascript"></script>
<script src="~/Asset/js/bootstrap-datepicker.js" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Asset/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/buttons.datatable.min.css")" rel="stylesheet" type="text/css" />
<script src="~/Asset/js/jquery.datatable.min.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Asset/js/datatable.buttons.min.js"></script>
<script src="~/Asset/js/buttons.flash.min.js"></script>
<script src="~/Asset/js/buttons.html5.min.js"></script>
<script src="~/Asset/js/buttons.print.min.js"></script>
<script src="~/Asset/js/jszip.min.js"></script>
<script src="~/Asset/js/pdfmake.min.js"></script>
<script src="~/Asset/js/vfs_font.js"></script>

<script src="~/Asset/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script>
    var rowSelection;
    var rowSelection2;
    $(document).ready(function () {
        rowSelection = $('#dttest').DataTable({
            "ordering": false,
            "responsive": true,
            "language": {
                "paginate": {
                    "previous": '<i class="demo-psi-arrow-left"></i>',
                    "next": '<i class="demo-psi-arrow-right"></i>'
                }
            },
            "columnDefs": [
                { "className": "dt-left", "targets": [1] },
                { "className": "dt-center", "targets": [0, 2, 3, 5] }
            ],
            "paging": false
        });
        $('#btnSaveItem').click(function () {
            var getfrom = document.getElementById("datepicker1").value;
            var getto = document.getElementById("datepicker2").value;
            var getba = document.getElementById("txtBeritaAcara").value;
            var getdiff = document.getElementById("headerdiff").value;
            if (getdiff != 0) {
                if (getba.length > 0) {
                    @*window.location.href = "@Url.Action("UpdateEndofShift", "Settlement")?from=" + getfrom + "&to=" +
                        getto + "&berita=" + getba;*@
                    $.ajax({
                        url: 'UpdateEndofShift',
                        type: 'POST',
                        contentType: 'application/json;',
                        data: JSON.stringify({ from: getfrom, to: getto, berita: getba }),
                        success: function (valid) {
                            if (valid.valid) {
                                window.location.href = "@Url.Action("Welcome", "Home")?message=" + valid.messages;
                            } else {
                                document.getElementById("btnSaveItem").disabled = false;
                            }
                        }
                    });
                }
                else {
                    $("#errormessage").show();
                }
            }
            else {
                @*window.location.href = "@Url.Action("UpdateEndofShift", "Settlement")?from=" + getfrom + "&to=" +
                        getto + "&berita=" + getba;*@
                $.ajax({
                    url: 'UpdateEndofShift',
                    type: 'POST',
                    contentType: 'application/json;',
                    data: JSON.stringify({ from: getfrom, to: getto, berita: getba }),
                    success: function (valid) {
                        if (valid.valid) {
                            window.location.href = "@Url.Action("Welcome", "Home")?message=" + valid.messages;
                        } else {
                            document.getElementById("btnSaveItem").disabled = false;
                        }
                    }
                });
            }
        });
    })
    $(function () {
        $("#datepicker1").datepicker({
            format: 'dd-mm-yyyy'
        });
    });
    $(function () {
        $("#datepicker2").datepicker({
            format: 'dd-mm-yyyy'
        });
    });
</script>
<div>
    <div>
        <div id="page-content" style="font-size:14px">
            <div class="col-sm-12">
                <div class="panel panel-bordered panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Report</h3>
                    </div>
                    <div class="mar-ver pad-btm" id="errormessage" hidden>
                        <h3 class="h4 mar-no">Official Report Must be Fill</h3>
                    </div>
                    @using (Html.BeginForm("EndofShift", "Settlement", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">From </label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.fromdate, new { @type = "text", @class = "form-control", @id = "datepicker1", @onchange = "onchangedatetime1()", @required = "required", @disabled = "disabled" })
                                </div>
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail">To </label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.todate, new { @type = "text", @class = "form-control", @id = "datepicker2", @onchange = "onchangedatetime1()", @required = "required", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">Berita Acara </label>
                                <div class="col-sm-3">
                                    @Html.TextAreaFor(model => model.beritaacara, new { @type = "text", @class = "form-control", @id = "txtBeritaAcara" })
                                </div>
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail">Start Shift </label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.startshiftdate, new { @type = "text", @class = "form-control", @id = "txtstartshiftdate", @disabled = "disabled" })
                                </div>
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail" hidden>Diff</label>
                                <div class="col-sm-3" hidden>
                                    @Html.TextBoxFor(model => model.headerdiff, new { @type = "text", @id = "headerdiff", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <table id="dttest" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th width="15%" style="text-align:center">Payment Code</th>
                                        <th width="25%" style="text-align:center">Payment Name</th>
                                        <th width="10%" style="text-align:center">System</th>
                                        <th width="10%" style="text-align:center">Actual</th>
                                        <th width="10%" style="text-align:center" hidden>Notes</th>
                                        <th width="10%" style="text-align:center">Difference</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.payments)
                                    {
                                    <tr>
                                        <td style="text-align:center">@item.kodepembayaran</td>
                                        <td style="text-align:left">@item.namapembayaran</td>
                                        @if (item.nominal == 0)
                                        {
                                            <td style="text-align:right">0</td>
                                        }
                                        else
                                        {
                                            <td style="text-align:right">@Convert.ToDecimal(item.nominal).ToString("#,###")</td>
                                        }
                                        @if (item.fisik == 0)
                                        {
                                            <td style="text-align:right">0</td>
                                        }
                                        else
                                        {
                                            <td style="text-align:right">@Convert.ToDecimal(item.fisik).ToString("#,###")</td>
                                        }
                                        <td style="text-align:center" hidden>
                                            <textarea rows="2" cols="20" name="comment" form="usrform"></textarea>
                                        </td>
                                        @if (item.fisik - item.nominal == 0)
                                        {
                                            <td style="text-align:right">0</td>
                                        }
                                        else
                                        {
                                            <td style="text-align:right">@Convert.ToDecimal(item.fisik - item.nominal).ToString("#,###")</td>
                                        }
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer text-right">
                            <div class="box-inline">
                                <button class="btn btn-success" type="button" name="submitorder" id="btnSaveItem">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>