﻿@model POSVITWeb.Models.EndofShiftClass
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="autoNumeric.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/autonumeric@4.1.0"></script>
<script src="https://unpkg.com/autonumeric"></script>
<script src="~/Asset/js/jquery.min.js"></script>
<script src="~/Asset/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-3.1.1.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-1-8-23-ui.min.js" type="text/javascript"></script>
<script src="~/Asset/js/bootstrap-datepicker.js" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Asset/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/buttons.datatable.min.css")" rel="stylesheet" type="text/css" />
<script src="~/Asset/js/jquery.datatable.min.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Asset/js/datatable.buttons.min.js"></script>
<script src="~/Asset/js/buttons.flash.min.js"></script>
<script src="~/Asset/js/buttons.html5.min.js"></script>
<script src="~/Asset/js/buttons.print.min.js"></script>
<script src="~/Asset/js/jszip.min.js"></script>
<script src="~/Asset/js/pdfmake.min.js"></script>
<script src="~/Asset/js/vfs_font.js"></script>

<script src="~/Asset/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script>
    var rowSelection;
    var rowSelection2;
    
    $(document).ready(function () {
        //$('input[type="number"]').commaTextbox();
        var tampStr = document.getElementById("txtStrTamp").value;
        var res = tampStr.split(";");

        for (var i = 0; i < @Model.payments.Count ; i++)
        {
            new AutoNumeric('#' + res[i], {
                decimalCharacter: ',',
                digitGroupSeparator: '.',
            });
        }
        rowSelection = $('#dttest').DataTable({
            "ordering": false,
            "responsive": true,
            "language": {
                "paginate": {
                    "previous": '<i class="demo-psi-arrow-left"></i>',
                    "next": '<i class="demo-psi-arrow-right"></i>'
                }
            },
            "columnDefs": [
                { "className": "dt-left", "targets": [1] },
                { "className": "dt-center", "targets": [0, 2, 3] }
            ],
            "paging": false
        });
        $("#dttest").on('input', '.text', function () {
            var totalSumValue = 0;
            $("#dttest .text").each(function () {
                var get_textbox_value = $(this).val().replace(/,00/g, '').replaceAll('.', '');
                if ($.isNumeric(get_textbox_value)) {
                    totalSumValue += parseFloat(get_textbox_value);
                }
            });
            var n = totalSumValue;
            var value = n.toLocaleString(
                undefined, // leave undefined to use the browser's locale,
                // or use a string like 'en-US' to override it.
                { minimumFractionDigits: 2 }
            );
            $("#totalSumValue").html(value);
        });
        
        $('#btnSaveItem').click(function () {
            document.getElementById("btnSaveItem").disabled = true;
            var getfrom = document.getElementById("datepicker1").value;
            var getto = document.getElementById("datepicker2").value;
            var getshiftid = document.getElementById("txtshiftid").value;
            var getberitaacara = document.getElementById("txtBeritaAcara").value;
            var data = rowSelection.rows().data();
            var cart = '';
            var checkzero = 0;
            for (var i = 0; i < data.length; i++) {
                if (i == 0) {
                    cart = data[i][0] + "$" + rowSelection.cell(i, 3).nodes().to$().find('input').val().replace(/,00/g, '').replaceAll('.', '') + "$" + rowSelection.cell(i, 4).nodes().to$().find('textarea').val() + "$" + data[i][2];
                }
                else {
                    if (data[i][1].length > 0)
                    {
                        cart = cart + ";" + data[i][0] + "$" + rowSelection.cell(i, 3).nodes().to$().find('input').val().replace(/,00/g, '').replaceAll('.', '') + "$" + rowSelection.cell(i, 4).nodes().to$().find('textarea').val() + "$" + data[i][2];
                    }
                }
                if (rowSelection.cell(i, 3).nodes().to$().find('input').val().length == 0) {
                    checkzero = checkzero + 1;
                }
            }
            if (checkzero != data.length) {
                @*window.location.href = "@Url.Action("SubmitEndofShift","Settlement")?from=" + getfrom + "&to=" +
                    getto + "&berita=" + getberitaacara + "&shiftid=" + getshiftid + "&payments=" + cart;*@
                $.ajax({
                    url: 'SubmitEndofShift',
                    type: 'POST',
                    contentType: 'application/json;',
                    data: JSON.stringify({ from: getfrom, to: getto, berita: getberitaacara, shiftid: getshiftid, payments: cart }),
                    success: function (valid) {
                        if (valid.valid) {
                            window.location.href = "@Url.Action("BeritaAcara", "Settlement")?lasteos=" + valid.totalcount;
                        } else {
                            document.getElementById("btnSaveItem").disabled = false;
                        }
                    }
                });
            }
            else {
                document.getElementById("btnSaveItem").disabled = false;
                $("#errormessage").show();
            }
        });
    })
    $(function () {
        $("#datepicker1").datepicker({
            format: 'dd-mm-yyyy'
        });
    });
    $(function () {
        $("#datepicker2").datepicker({
            format: 'dd-mm-yyyy'
        });
    });
    $(function () {
        $(':input[type=number]').on('mousewheel', function (e) { $(this).blur(); });
    });
</script>
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    input[type=number] {
        -moz-appearance: textfield; /* Firefox */
    }
</style>
<div>
    <div>
        <div id="page-content" style="font-size:14px">
            <div class="col-sm-12">
                <div class="panel panel-bordered panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">End of Shift</h3>
                    </div>
                    <div class="mar-ver pad-btm" id="errormessage" hidden>
                        <h3 class="h4 mar-no">No Amount</h3>
                    </div>
                    @using (Html.BeginForm("EndofShift", "Settlement", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">From </label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.fromdate, new { @type = "text", @class = "form-control", @id = "datepicker1", @onchange = "onchangedatetime1()", @required = "required", @disabled = "disabled" })
                                </div>
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail">To </label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.todate, new { @type = "text", @class = "form-control", @id = "datepicker2", @onchange = "onchangedatetime1()", @required = "required", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">Beginning Balance</label>
                                <div class="col-sm-3">
                                    @Html.TextAreaFor(model => model.strsaldoawal, new { @type = "text", @class = "form-control", @id = "txtsaldoawalstr", @disabled = "disabled" })
                                </div>
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail">Start Shift</label>
                                <div class="col-sm-3">
                                    @Html.TextAreaFor(model => model.startshiftdate, new { @type = "text", @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="form-group" hidden>
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">Berita Acara </label>
                                <div class="col-sm-3">
                                    @Html.TextAreaFor(model => model.beritaacara, new { @type = "text", @class = "form-control", @id = "txtBeritaAcara" })
                                </div>
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">Shift Id </label>
                                <div class="col-sm-3">
                                    @Html.TextAreaFor(model => model.shiftid, new { @type = "text", @class = "form-control", @id = "txtshiftid" })
                                </div>
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">Saldo Awal</label>
                                <div class="col-sm-3">
                                    @Html.TextAreaFor(model => model.saldoawal, new { @type = "text", @class = "form-control", @id = "txtsaldoawal" })
                                </div>
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">Tamp</label>
                                <div class="col-sm-3">
                                    @Html.TextAreaFor(model => model.strTamp, new { @type = "text", @class = "form-control", @id = "txtStrTamp" })
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <table id="dttest" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th width="15%" style="text-align:center">Payment Code</th>
                                        <th width="25%" style="text-align:center">Payment Name</th>
                                        <th width="10%" style="text-align:center" hidden>Nominal</th>
                                        <th width="10%" style="text-align:center">Actual</th>
                                        <th width="10%" style="text-align:center" hidden>Notes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.payments)
                                    {
                                        if (item.isHeader == 1)
                                        {
                                            <tr>
                                                <td style="text-align:center"><b>@item.headerName</b></td>
                                                <td style="text-align:left"></td>
                                                <td style="text-align:right" hidden></td>
                                                <td style="text-align:center">
                                                    <input class="txtBox" value="" style="width:150px;text-align:right;" id="@item.kodepembayaran" hidden>
                                                </td>
                                                <td hidden>
                                                    <textarea rows="2" cols="20" name="comment" form="usrform"></textarea>
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td style="text-align:center">@item.kodepembayaran</td>
                                                <td style="text-align:left">@item.namapembayaran</td>
                                                <td style="text-align:right" hidden>@Convert.ToDecimal(item.nominal).ToString("#,###")</td>
                                                <td style="text-align:center">
                                                    <input class="text" value="" style="width:150px;text-align:right;" id="@item.kodepembayaran">
                                                </td>
                                                <td hidden>
                                                    <textarea rows="2" cols="20" name="comment" form="usrform"></textarea>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th width="10px" style="text-align:center"></th>
                                        <th width="10px" style="text-align:center">Total</th>
                                        <th width="10px" style="text-align:center" hidden></th>
                                        <th width="10px" style="text-align:center" id="totalSumValue"></th>
                                        <th width="10px" style="text-align:center" hidden></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="panel-footer text-right">
                            <div class="box-inline">
                                <button class="btn btn-success" type="button" name="submitorder" id="btnSaveItem">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="height:600px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Berita Acara</h4>
            </div>
            <div class="modal-body">
                <textarea rows="25" cols="135" name="beritaacara" id="beritaacara" form="usrform">
Berikut saya sampaikan Hasil End of Shift @Model.fromdate - @Model.todate sebenarnya berdasarkan fisik yang ada:

@for (int i = 0; i < Model.payments.Count; i++)
{
@Model.payments[i].namapembayaran Convert.ToDecimal(Model.payments[i].nominal).ToString("#,###");       
}

Terjadinya selisih pada End of Shift @Model.fromdate - @Model.todate
dikarenakan hal sebagai berikut:




Demikian BA ini dibuat agar dapat dipergunakan sebagaimana mestinya.
Hormat saya,

(SUPER USER)

                </textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSaveItem" data-dismiss="modal">Submit</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->