﻿@model POSVITWeb.Models.ReportKartuStok
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Asset/js/jquery.min.js"></script>
<script src="~/Asset/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-3.1.1.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-1-8-23-ui.min.js" type="text/javascript"></script>
<script src="~/Asset/js/bootstrap-datepicker.js" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Asset/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/buttons.datatable.min.css")" rel="stylesheet" type="text/css" />
<script src="~/Asset/js/jquery.datatable.min.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Asset/js/datatable.buttons.min.js"></script>
<script src="~/Asset/js/buttons.flash.min.js"></script>
<script src="~/Asset/js/buttons.html5.min.js"></script>
<script src="~/Asset/js/buttons.print.min.js"></script>
<script src="~/Asset/js/jszip.min.js"></script>
<script src="~/Asset/js/pdfmake.min.js"></script>
<script src="~/Asset/js/vfs_font.js"></script>
<script src="~/Asset/js/bootstrap.min.js"></script>

<script>
    var rowSelection;
    var rowSelection2;
    $(document).ready(function () {
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = (day) + "-" + (month) + "-" + now.getFullYear();
        $('#datepicker1').val(today);
        $('#datepicker2').val(today);
        rowSelection2 = $('#dttest2').DataTable({
            "columnDefs": [
                { "targets": [0, 1, 2, 7], "searchable": false },
                { "className": "hidden", "targets": [3, 4, 5] },
                { "className": "dt-right", "targets": [4] },
                { "className": "dt-center", "targets": [0, 6, 7] }
            ]
        });
        rowSelection = $('#dttest').DataTable({
            "ordering": false,
            "responsive": true,
            "language": {
                "paginate": {
                    "previous": '<i class="demo-psi-arrow-left"></i>',
                    "next": '<i class="demo-psi-arrow-right"></i>'
                }
            },
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Laporan Total Penjualan',
                    filename: 'Laporan_Total_Penjualan_Excel',
                    exportOptions: {
                        columns: ':visible'
                    },
                    header: 'false'
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Laporan Total Penjualan',
                    filename: 'Laporan_Total_Penjualan_Pdf',
                    exportOptions: {
                        columns: ':visible',
                        exporterPdfAlign: 'right'
                    },
                    header: 'false'
                }
            ], "columnDefs": [
                { "className": "hidden", "targets": [0, 3, 4, 9, 10] },
                { "className": "dt-right", "targets": [5, 6, 7, 8] },
                { "className": "dt-center", "targets": [1, 3, 4] },
                { "targets": [0], "searchable": false }
            ]
        });
        $('#btnchoose').click(function () {
            var data = rowSelection2.rows('.selected').data();
            $('#txtitemcode').val(data[0].kodebarang);
        });
        $('#btnAdd').click(function () {
            $('input[type="search"]').val('').keyup()
        });
         $.getJSON("@Url.Action("getItemFromStoreReport", "Report")", function (data) {
            rowSelection2.destroy();
            rowSelection2 = $('#dttest2').DataTable({
                data: data,
                columns: [
                    { "data": "kodebarang" },
                    { "data": "namabarang" },
                    { "data": "namakategori" },
                    { "data": "namaprodusen" },
                    { "data": "stock" },
                    { "data": "harga" },
                    { "data": "satuan" },
                    { "data": "itemcode" }
                ],
                "columnDefs": [
                    { "targets": [3, 4, 5, 6], "searchable": false },
                    { "className": "hidden", "targets": [3, 4, 5] },
                    { "className": "dt-right", "targets": [4] },
                    { "className": "dt-center", "targets": [0, 6, 7] }
                ]
            });
             $('#dttest2').on('click', 'tr', function () {
                 if ($(this).hasClass('selected')) {
                     $(this).removeClass('selected');
                 }
                 else {
                     rowSelection2.$('tr.selected').removeClass('selected');
                     $(this).addClass('selected');
                 }
             });
             $('#dttest2 tbody').on('dblclick', 'tr', function () {
                 var data = rowSelection2.row(this).data();
                 $('#txtitemcode').val(data.kodebarang);
                 $('#myModal').modal('hide');
             });
        });
    })
    $(function () {
        $("#datepicker1").datepicker({
            format: 'dd-mm-yyyy'
        });
        $("#datepicker1").datepicker().datepicker("setDate", new Date());
        $("#datepicker2").datepicker({
            format: 'dd-mm-yyyy'
        });
        $("#datepicker2").datepicker().datepicker("setDate", new Date());
    });
    function format(invoices) {
        let table =
            '<table class="table table-striped table-bordered" cellspacing="0" width="100%">' +
            '<thead>' +
            '<tr>' +
            '<th class="dt-center">Doc. No.</th>' +
            '<th class="dt-center">Date</th>' +
            '<th class="dt-center">Beginning</th>' +
            '<th class="dt-center">In</th>' +
            '<th class="dt-center">Out</th>' +
            '<th class="dt-center">Ending</th>' +
            '</tr>' +
            '</thead><tbody>';
        for (let key in invoices) {
            table += '<tr>' +
                '<td class="dt-center">' + invoices[key].nofaktur + '</td>' +
                '<td class="dt-center">' + invoices[key].tgl + '</td>' +
                '<td class="dt-center">' + invoices[key].stokawal.toLocaleString(['ban', 'id']) + '</td>' +
                '<td class="dt-center">' + invoices[key].masuk.toLocaleString(['ban', 'id']) + '</td>' +
                '<td class="dt-right">' + invoices[key].keluar.toLocaleString(['ban', 'id']) + '</td>' +
                '<td class="dt-right">' + invoices[key].stokakhir.toLocaleString(['ban', 'id']) + '</td>' +
                '</tr>';
        }
        table += '</tbody>';
        return table;
    }
    function checkdatetime() {
        var value1 = document.getElementById("datepicker1").value;
        var value2 = document.getElementById("datepicker2").value;
        var strdt1 = value1.split("-");
        var finaldt1 = strdt1[2] + strdt1[1] + strdt1[0];
        var strdt2 = value2.split("-");
        var finaldt2 = strdt2[2] + strdt2[1] + strdt2[0];
        if (parseInt(finaldt1) > parseInt(finaldt2)) {
            $('#datepicker1').val("");
            $('#datepicker2').val("");
        }
    }
    function onclicksearch() {
        $("#btnSaveItem").attr("disabled", true);
        var getfromdate = document.getElementById("datepicker1").value;
        var gettodate = document.getElementById("datepicker2").value;
        var getitemcode = document.getElementById("txtitemcode").value;
        var getreferencekategori = document.getElementById("kategori");
        var getkategoriid = getreferencekategori.options[getreferencekategori.selectedIndex].value;
        let copyData = [];
        //var showRow = $('#dttest_length').html();
        //console.log(showRow);
        var tableHeader = $('#dttest thead').html();
        $.getJSON("@Url.Action("GetReportKartuStok", "Report")?fromdate=" + getfromdate + "&todate=" + gettodate + "&itemcode=" + getitemcode + "&kodekategori=" + getkategoriid, function (data) {
            let faktur;
            copyData = data.filter(x => x.kodebarang != null).reduce((a, v) => {
                if (v['kodebarang'] == '' || v['kodebarang'] == null) {
                    v['kodebarang'] = faktur;
                }
                (a[v['kodebarang']] = a[v['kodebarang']] || []).push(v)
                faktur = v['kodebarang'];
                return a;
            }, {});
            copyData = Object.keys(copyData).map(x => {
                const totalIn = copyData[x].reduce((a, v) => a + v['masuk'], 0)
                const totalOut = copyData[x].reduce((a, v) => a + v['keluar'], 0)
                const totalAll = copyData[x].reduce((a, v) => a + v['headerawal'] + v['masuk'] - v['keluar'], 0)
                //const totalSelisih = copyData[x].reduce((a, v) => a + v['selisih'], 0)
                //const totalPrice = copyData[x].reduce((a, v) => a + v['value'], 0)
                let bro = Object.assign({}, {
                    ...copyData[x][0],
                    invoices: [...copyData[x]],
                    totalIn: totalIn,
                    totalOut: totalOut,
                    totalAll: totalAll,
                    //totalSelisih: totalSelisih,
                    //totalPrice: totalPrice
                });
                return bro;
            });
            rowSelection.destroy();
            $('#dttest').empty();
            rowSelection = $('#dttest').DataTable({
                "paging": false,
                "ordering": false,
                "info": false,
                data: copyData,
                columns: [
                    { "data": "no" },
                    {
                        "data": "kodebarang",
                        class: "dt-center details-control"
                    },
                    { "data": "namabarang" },
                    { "data": "modidate" },
                    { "data": "nofaktur" },
                    { "data": "headerawal" },
                    { "data": "totalIn" },
                    { "data": "totalOut" },
                    { "data": "totalAll" },
                    { "data": "realkodebarang" },
                    { "data": "realnamabarang" }
                ],
                //"ordering": false,
                "responsive": true,
                "language": {
                    "paginate": {
                        "previous": '<i class="demo-psi-arrow-left"></i>',
                        "next": '<i class="demo-psi-arrow-right"></i>'
                    }
                },
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'print'
                    }
                ],
                "columnDefs": [
                    { "className": "hidden", "targets": [0, 3, 4, 9, 10] },
                    { "className": "dt-right", "targets": [5, 6, 7, 8] },
                    { "className": "dt-center", "targets": [1, 3, 4] },
                    { "targets": [0], "searchable": false }
                ]
            });
            //$('.dt-buttons').html('<div class="dataTables_length" id="dttest_length">' + showRow + '</div>');
            $('#dttest thead').html(tableHeader);
            $('#dttest tbody').on('click', 'tr td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = rowSelection.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    tr.removeClass('details');
                    row.child.hide();
                }
                else {
                    // Open this row
                    tr.addClass('details');
                    row.child(format(row.data().invoices)).show();

                }
            });
            $('#btnSaveItem').attr("disabled", false);
        });
        document.getElementById("btnprint").disabled = false;
    }
    function printclick()
    {
        var getfromdate = document.getElementById("datepicker1").value;
        var gettodate = document.getElementById("datepicker2").value;
        var getitemcode = document.getElementById("txtitemcode").value;
        if (getfromdate.length > 0 && gettodate.length > 0) {
            $("input[name='GridHtml']").val($("#Grid").html());
            window.location.href = "@Url.Action("ExportReportKartuStok", "Report")?fromdate=" + getfromdate + "&todate=" + gettodate + "&itemcode=" + getitemcode;
        }
    }
</script>
<script>
    function selectElementContents(el) {
        var body = document.body, range, sel;
        if (document.createRange && window.getSelection) {
            range = document.createRange();
            sel = window.getSelection();
            sel.removeAllRanges();
            try {
                range.selectNodeContents(el);
                sel.addRange(range);
            } catch (e) {
                range.selectNode(el);
                sel.addRange(range);
            }
            document.execCommand("copy");
            alert('Table Copied!');

        } else if (body.createTextRange) {
            range = body.createTextRange();
            range.moveToElementText(el);
            range.select();
            range.execCommand("Copy");
        }
    }
</script>
<div>
    <div>
        <div id="page-content" style="font-size:14px">
            <div class="col-sm-12">
                <div class="panel panel-bordered panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Summary</h3>
                    </div>
                    @using (Html.BeginForm("AddTransferIn", "Transfer", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">From Date</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.fromtanggal, new { @type = "text", @class = "form-control", @onchange = "checkdatetime()", @id = "datepicker1", @required = "required" })
                                </div>
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail">To Date</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.totanggal, new { @type = "text", @class = "form-control", @onchange = "checkdatetime()", @id = "datepicker2", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">Kategori</label>
                                <div class="col-sm-3">
                                    @{
                                        List<SelectListItem> listItems9 = new List<SelectListItem>();
                                        listItems9.Add(new SelectListItem
                                        {
                                            Text = "ALL",
                                            Value = "0"
                                        });
                                        foreach (var item in Model.kategori)
                                        {
                                            listItems9.Add(new SelectListItem
                                            {
                                                Text = item.kodekategori + " - " + item.namakategori,
                                                Value = item.kodekategori
                                            });
                                        }
                                    }
                                    @Html.DropDownListFor(model => model.kodekategori, listItems9, new { @class = "form-control", @id = "kategori", @required = "required" })
                                </div>
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail">Item Code</label>
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(model => model.itemcode, new { @type = "text", @class = "form-control", @required = "required", @id = "txtitemcode" })
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" class="btn btn-primary fileinput-button dz-clickable" data-toggle="modal" data-target="#myModal" id="btnAdd">
                                        <span>Choose</span>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">

                            </div>
                            <button id="btnSaveItem" class="btn btn-primary" type="button" name="submitorder" onclick="onclicksearch()">Generate</button>
                            @*<button type="button" class="btn btn-primary fileinput-button dz-clickable" id="btnprint" onclick="printclick()" hidden>
                                    <i class="fa fa-plus"></i>
                                    <span>Print</span>
                                </button>*@
                            <button type="button" class="btn btn-primary fileinput-button dz-clickable" id="btncopy"
                                    onclick="selectElementContents( document.getElementById('dttest') );"
                                    value="select table" hidden>
                                <i class="fa fa-plus"></i>
                                <span>Copy Table</span>
                            </button>
                            <div class="form-group"></div>
                            <table id="dttest" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th width="10px" style="text-align:center" hidden>No</th>
                                        <th width="10%" style="text-align:center">Code</th>
                                        <th width="25%" style="text-align:center">Item Name</th>
                                        <th width="10%" style="text-align:center">Date</th>
                                        <th width="10%" style="text-align:center">Transaction</th>
                                        <th width="5%" style="text-align:center">Beginning</th>
                                        <th width="5%" style="text-align:center">In</th>
                                        <th width="5%" style="text-align:center">Out</th>
                                        <th width="2%" style="text-align:center">Ending</th>
                                        <th width="5%" style="text-align:center">Code</th>
                                        <th width="10px" style="text-align:center">Item Name</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Choose Item</h4>
            </div>
            <div class="modal-body">
                @*<div class="table-responsive">

                    </div>*@
                <table id="dttest2" class="display DataTable" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th width="10%" style="text-align:center">Code</th>
                            <th width="30%" style="text-align:center">Name</th>
                            <th width="10%" style="text-align:center">Category</th>
                            <th width="10%" style="text-align:center">Produsen</th>
                            <th width="10%" style="text-align:center">Stock</th>
                            <th width="10%" style="text-align:center">Price</th>
                            <th width="10%" style="text-align:center">UoM</th>
                            <th width="10%" style="text-align:center">Barcode</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnchoose" data-dismiss="modal">Choose</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->