﻿@model POSVITWeb.Models.ReportTransferRequest
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Asset/js/jquery.min.js"></script>
<script src="~/Asset/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-3.1.1.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-1-8-23-ui.min.js" type="text/javascript"></script>
<script src="~/Asset/js/bootstrap-datepicker.js" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Asset/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/buttons.datatable.min.css")" rel="stylesheet" type="text/css" />
<script src="~/Asset/js/jquery.datatable.min.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Asset/js/datatable.buttons.min.js"></script>
<script src="~/Asset/js/buttons.flash.min.js"></script>
<script src="~/Asset/js/buttons.html5.min.js"></script>
<script src="~/Asset/js/buttons.print.min.js"></script>
<script src="~/Asset/js/jszip.min.js"></script>
<script src="~/Asset/js/pdfmake.min.js"></script>
<script src="~/Asset/js/vfs_font.js"></script>

<script src="~/Asset/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script>
    var rowSelection;
    var rowSelection2;
    $(document).ready(function () {
        rowSelection2 = $('#dttest2').DataTable({
            "columnDefs": [
                { "targets": [0, 1, 2, 7], "searchable": false },
                { "className": "hidden", "targets": [3, 4, 5] },
                { "className": "dt-right", "targets": [4] },
                { "className": "dt-center", "targets": [0, 6, 7, 9] }
            ]
        });
        rowSelection = $('#dttest').DataTable({
            "ordering": false,
            "responsive": true,
            "language": {
                "paginate": {
                    "previous": '<i class="demo-psi-arrow-left"></i>',
                    "next": '<i class="demo-psi-arrow-right"></i>'
                }
            },
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Laporan Total Penjualan',
                    filename: 'Laporan_Total_Penjualan_Excel',
                    exportOptions: {
                        columns: ':visible'
                    },
                    header: 'false'
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Laporan Total Penjualan',
                    filename: 'Laporan_Total_Penjualan_Pdf',
                    exportOptions: {
                        columns: ':visible',
                        exporterPdfAlign: 'right'
                    },
                    header: 'false'
                }
            ]
        });
        $('#btnchoose').click(function () {
            var data = rowSelection2.rows('.selected').data();
            $('#txtitemcode').val(data[0].kodebarang);
        });
        $('#btnAdd').click(function () {
            $('input[type="search"]').val('').keyup()
        });
         $.getJSON("@Url.Action("getItemFromStoreReport", "Report")", function (data) {
            rowSelection2.destroy();
            rowSelection2 = $('#dttest2').DataTable({
                data: data,
                columns: [
                    { "data": "kodebarang" },
                    { "data": "namabarang" },
                    { "data": "namakategori" },
                    { "data": "namaprodusen" },
                    { "data": "stock" },
                    { "data": "harga" },
                    { "data": "satuan" },
                    { "data": "itemcode" }
                ],
                "columnDefs": [
                    { "targets": [3, 4, 5, 6], "searchable": false },
                    { "className": "hidden", "targets": [3, 4, 5] },
                    { "className": "dt-right", "targets": [4] },
                    { "className": "dt-center", "targets": [0, 6, 7] }
                ]
            });
             $('#dttest2').on('click', 'tr', function () {
                 if ($(this).hasClass('selected')) {
                     $(this).removeClass('selected');
                 }
                 else {
                     rowSelection2.$('tr.selected').removeClass('selected');
                     $(this).addClass('selected');
                 }
             });
        });
    })
    $(function () {
        $("#datepicker1").datepicker({
            format: 'dd-mm-yyyy'
        });
        $("#datepicker1").datepicker().datepicker("setDate", new Date());
        $("#datepicker2").datepicker({
            format: 'dd-mm-yyyy'
        });
        $("#datepicker2").datepicker().datepicker("setDate", new Date());
    });
    function format(invoices) {
        let table =
            '<table class="table table-striped table-bordered" cellspacing="0" width="100%">' +
            '<thead>' +
            '<tr>' +
            '<th class="dt-center">Item Code</th>' +
            '<th class="dt-center">Item Name</th>' +
            '<th class="dt-center">Req</th>' +
            '<th class="dt-center">Open</th>' +
            '<th class="dt-center">Sent</th>' +
            '</tr>' +
            '</thead><tbody>';
        for (let key in invoices) {
            table += '<tr>' +
                '<td class="dt-center">' + invoices[key].kodebarang + '</td>' +
                '<td class="dt-center">' + invoices[key].namabarang + '</td>' +
                '<td class="dt-center">' + invoices[key].qty.toLocaleString(['ban', 'id']) + '</td>' +
                '<td class="dt-center">' + invoices[key].open.toLocaleString(['ban', 'id']) + '</td>' +
                '<td class="dt-center">' + invoices[key].kirim.toLocaleString(['ban', 'id']) + '</td>' +
                '</tr>';
        }
        table += '</tbody>';
        return table;
    }
    function onclicksearch() {
        var getfromdate = document.getElementById("datepicker1").value;
        var gettodate = document.getElementById("datepicker2").value;
        var getreferenceto = document.getElementById("user");
        var getuserid = getreferenceto.options[getreferenceto.selectedIndex].value;
        var getreferencekategori = document.getElementById("kategori");
        var getkategoriid = getreferencekategori.options[getreferencekategori.selectedIndex].value;
        var dropdown2 = document.getElementById("dropdown10");
        var gettipelocation = dropdown2.options[dropdown2.selectedIndex].value;
        let copyData = [];
        var showRow = $('#dttest_length .dataTables_length').html();
        var tableHeader = $('#dttest thead').html();
        $.getJSON("@Url.Action("GetReportTransferRequest", "Report")?fromdate=" + getfromdate + "&todate=" + gettodate + "&store=" + getkategoriid +
            "&status=" + getuserid + "&location=" + gettipelocation, function (data) {
            let nofaktur;
            copyData = data.filter(x => x.nofaktur != null).reduce((a, v) => {
                if (v['nofaktur'] == '' || v['nofaktur'] == null) {
                    v['nofaktur'] = nofaktur;
                }
                (a[v['nofaktur']] = a[v['nofaktur']] || []).push(v)
                nofaktur = v['nofaktur'];
                return a;
            }, {});
            copyData = Object.keys(copyData).map(x => {
                const totalqty = copyData[x].reduce((a, v) => a + v['qty'], 0)
                const totalkirim = copyData[x].reduce((a, v) => a + v['kirim'], 0)
                const totalopen = copyData[x].reduce((a, v) => a + v['open'], 0)
                let bro = Object.assign({}, {
                    ...copyData[x][0],
                    invoices: [ ...copyData[x] ],
                    totalqty: totalqty,
                    totalkirim: totalkirim,
                    totalopen: totalopen
                });
                return bro;
            });
            const totalqtyall = copyData.reduce((a, v) => a + v['totalqty'], 0)
            const totalkirimall = copyData.reduce((a, v) => a + v['totalkirim'], 0)
            const totalopenall = copyData.reduce((a, v) => a + v['totalopen'], 0)
            //console.log(copyData);
            rowSelection.destroy();
            $('#dttest').empty();
            //$('#dttest').empty();
            rowSelection = $('#dttest').DataTable({
                "paging": false,
                processing: true,
                data: copyData,
                columns: [
                    {
                        "data": "nofaktur",
                        class: "dt-center details-control"
                    },
                    { "data": "tgl" },
                    //{ "data": "fromnama" },
                    { "data": "usernama" },
                    { "data": "tonama" },
                    { "data": "comment" },
                    { "data": "status" },
                    {
                        "data": "totalqty",
                        render: function (data) {
                            return data.toLocaleString(['ban', 'id']);
                        }
                    },
                    {
                        "data": "totalopen",
                        render: function (data) {
                            return data.toLocaleString(['ban', 'id']);
                        }
                    },
                    {
                        "data": "totalkirim",
                        render: function (data) {
                            return data.toLocaleString(['ban', 'id']);
                        }
                    },
                    { "data": "requireddate" }
                ],
                "responsive": true,
                "language": {
                    "paginate": {
                        "previous": '<i class="demo-psi-arrow-left"></i>',
                        "next": '<i class="demo-psi-arrow-right"></i>'
                    }
                },
                dom: 'Bfrtip',
                buttons: [
                ],
                "columnDefs": [
                    { "className": "dt-right", "targets": [6, 7, 8] },
                    { "className": "dt-center", "targets": [0, 1, 2, 3, 4, 5, 9] },
                    { "targets": [], "searchable": false }
                ],
                "ordering": false
            });
            $('#dttest thead').html(showRow);
            $('#dttest thead').html(tableHeader);
            $('#dttest tbody').after(
                '<tfoot><tr>' +
                '<th></th>' +
                '<th></th>' +
                '<th></th>' +
                '<th></th>' +
                '<th></th>' +
                '<th></th>' +
                '<th class="dt-right">' + totalqtyall.toLocaleString(['ban', 'id']) + '</th>' +
                '<th class="dt-right">' + totalopenall.toLocaleString(['ban', 'id']) + '</th>' +
                '<th class="dt-right">' + totalkirimall.toLocaleString(['ban', 'id']) + '</th>' +
                '<th></th>' +
                '</tr></tfoot>'
            );
            $('#dttest tbody').on('click', 'tr td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = rowSelection.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    tr.removeClass('details');
                    row.child.hide();
                }
                else {
                    // Open this row
                    tr.addClass('details');
                    row.child(format(row.data().invoices)).show();

                }
            });
        });
    }
    function checkdatetime() {
        var value1 = document.getElementById("datepicker1").value;
        var value2 = document.getElementById("datepicker2").value;
        var strdt1 = value1.split("-");
        var finaldt1 = strdt1[2] + strdt1[1] + strdt1[0];
        var strdt2 = value2.split("-");
        var finaldt2 = strdt2[2] + strdt2[1] + strdt2[0];
        if (parseInt(finaldt1) > parseInt(finaldt2)) {
            $('#datepicker1').val("");
            $('#datepicker2').val("");
        }
    }
    function printclick()
    {
        var getfromdate = document.getElementById("datepicker1").value;
        var gettodate = document.getElementById("datepicker2").value;
        var dropdown = document.getElementById("dropdowntipe5");
        gettipe = dropdown.options[dropdown.selectedIndex].value;
        var dropdown2 = document.getElementById("dropdown10");
        var gettipelocation = dropdown2.options[dropdown2.selectedIndex].value;
        var getitemcode = document.getElementById("txtitemcode").value;
        if (getfromdate.length > 0 && gettodate.length > 0) {
            $("input[name='GridHtml']").val($("#Grid").html());
            window.location.href = "@Url.Action("ExportReportMutasiStokLokasi", "Report")?fromdate=" + getfromdate + "&todate=" + gettodate +
                "&type=" + gettipe + "&itemcode=" + getitemcode + "&location=" + gettipelocation;
        }
    }
</script>
<script>
    function selectElementContents(el) {
        var body = document.body, range, sel;
        if (document.createRange && window.getSelection) {
            range = document.createRange();
            sel = window.getSelection();
            sel.removeAllRanges();
            try {
                range.selectNodeContents(el);
                sel.addRange(range);
            } catch (e) {
                range.selectNode(el);
                sel.addRange(range);
            }
            document.execCommand("copy");
            alert('Table Copied!');

        } else if (body.createTextRange) {
            range = body.createTextRange();
            range.moveToElementText(el);
            range.select();
            range.execCommand("Copy");
        }
    }
</script>
<div>
    <div>
        <div id="page-content" style="font-size:14px">
            <div class="col-sm-12">
                <div class="panel panel-bordered panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Transfer Request Report</h3>
                    </div>
                    @using (Html.BeginForm("AddTransferIn", "Transfer", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="demo-hor-inputemail">Date</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.fromtanggal, new { @type = "text", @class = "form-control", @onchange = "checkdatetime()", @id = "datepicker1", @required = "required" })
                            </div>
                            <label class="col-sm-1 control-label" for="demo-hor-inputemail">To Date</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.totanggal, new { @type = "text", @class = "form-control", @onchange = "checkdatetime()", @id = "datepicker2", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="demo-hor-inputemail">Type</label>
                            <div class="col-sm-3">
                                @{
                                    List<SelectListItem> listItems10 = new List<SelectListItem>();
                                    foreach (var item in Model.tipes)
                                    {
                                        listItems10.Add(new SelectListItem
                                        {
                                            Text = item.namatipe,
                                            Value = item.kodetipe
                                        });
                                    }
                                }
                                @Html.DropDownListFor(model => model.tipe, listItems10, new { @class = "form-control", @id = "dropdown10", @required = "required" })
                            </div>
                            <label class="col-sm-1 control-label" for="demo-hor-inputemail">Store</label>
                            <div class="col-sm-3">
                                @{
                                    List<SelectListItem> listItems9 = new List<SelectListItem>();
                                    listItems9.Add(new SelectListItem
                                    {
                                        Text = "ALL",
                                        Value = "0"
                                    });
                                    foreach (var item in Model.lokasis)
                                    {
                                        listItems9.Add(new SelectListItem
                                        {
                                            Text = item.kodelokasi + " - " + item.nama,
                                            Value = item.kodelokasi
                                        });
                                    }
                                }
                                @Html.DropDownListFor(model => model.kodelokasi, listItems9, new { @class = "form-control", @id = "kategori", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="demo-hor-inputemail">Status</label>
                            <div class="col-sm-3">
                                @{
                                    List<SelectListItem> listItems8 = new List<SelectListItem>();
                                    listItems8.Add(new SelectListItem
                                    {
                                        Text = "ALL",
                                        Value = "-1"
                                    });
                                    foreach (var item in Model.statuses)
                                    {
                                        listItems8.Add(new SelectListItem
                                        {
                                            Text = item.namastatus,
                                            Value = item.kodestatus
                                        });
                                    }
                                }
                                @Html.DropDownListFor(model => model.status, listItems8, new { @class = "form-control", @id = "user", @required = "required" })
                            </div>
                            <div class="form-group"></div>
                            <button id="btnSaveItem" class="btn btn-primary" type="button" name="submitorder" onclick="onclicksearch()">Generate</button>
                            @*<button type="button" class="btn btn-primary fileinput-button dz-clickable" id="btnprint" onclick="printclick()" hidden>
            <i class="fa fa-plus"></i>
            <span>Print</span>
        </button>*@
                            <button type="button" class="btn btn-primary fileinput-button dz-clickable" id="btncopy"
                                    onclick="selectElementContents( document.getElementById('dttest') );"
                                    value="select table" hidden>
                                <i class="fa fa-plus"></i>
                                <span>Copy Table</span>
                            </button>
                            <div class="form-group"></div>
                            <table id="dttest" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th width="10px" style="text-align:center">Doc. No</th>
                                        <th width="10px" style="text-align:center">Date</th>
                                        <th width="10px" style="text-align:center">Created By</th>
                                        <th width="10px" style="text-align:center">Store</th>
                                        @*<th width="10px" style="text-align:center">To</th>*@
                                        <th width="10px" style="text-align:center">Notes</th>
                                        <th width="10px" style="text-align:center">Status</th>
                                        @*<th width="10px" style="text-align:center">Status</th>*@
                                        <th width="10px" style="text-align:center">Total Req</th>
                                        <th width="10px" style="text-align:center">Total Open</th>
                                        <th width="10px" style="text-align:center">Total Sent</th>
                                        <th width="10px" style="text-align:center">Req Date</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>