﻿@model POSVITWeb.Models.ReportPenjualanItemClass
@{
    Layout = "~/Views/Shared/NewHome.cshtml";
}
<script src="~/Asset/js/jquery.min.js"></script>
<script src="~/Asset/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-3.1.1.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-1-8-23-ui.min.js" type="text/javascript"></script>
<script src="~/Asset/js/bootstrap-datepicker.js" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Asset/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/buttons.datatable.min.css")" rel="stylesheet" type="text/css" />
<script src="~/Asset/js/jquery.datatable.min.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Asset/js/datatable.buttons.min.js"></script>
<script src="~/Asset/js/buttons.flash.min.js"></script>
<script src="~/Asset/js/buttons.html5.min.js"></script>
<script src="~/Asset/js/buttons.print.min.js"></script>
<script src="~/Asset/js/jszip.min.js"></script>
<script src="~/Asset/js/pdfmake.min.js"></script>
<script src="~/Asset/js/vfs_font.js"></script>
<script src="~/Asset/js/bootstrap.min.js"></script>

<script>
    var rowSelection;
    var rowSelection2;
    var rowSelection3;
    $(document).ready(function () {
        rowSelection2 = $('#dttest2').DataTable({
            "columnDefs": [
                { "targets": [0, 1, 2, 7], "searchable": false },
                { "className": "hidden", "targets": [3, 4, 5] },
                { "className": "dt-right", "targets": [4] },
                { "className": "dt-center", "targets": [0, 6, 7] }
            ]
        });
        rowSelection3 = $('#dttest3').DataTable({
            "responsive": true,
            "language": {
                "paginate": {
                    "previous": '<i class="demo-psi-arrow-left"></i>',
                    "next": '<i class="demo-psi-arrow-right"></i>'
                }
            }
        });
        rowSelection = $('#dttest').DataTable({
            "ordering": false,
            "responsive": true,
            "language": {
                "paginate": {
                    "previous": '<i class="demo-psi-arrow-left"></i>',
                    "next": '<i class="demo-psi-arrow-right"></i>'
                }
            },
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Laporan Total Penjualan',
                    filename: 'Laporan_Total_Penjualan_Excel',
                    exportOptions: {
                        columns: ':visible'
                    },
                    header: 'false'
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Laporan Total Penjualan',
                    filename: 'Laporan_Total_Penjualan_Pdf',
                    exportOptions: {
                        columns: ':visible',
                        exporterPdfAlign: 'right'
                    },
                    header: 'false'
                }
            ]
        });
        $('#dttest3').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                $(this).addClass('selected');
            }
        });
        $('#btnchoose').click(function () {
            var data = rowSelection2.rows('.selected').data();
            $('#txtitemcode').val(data[0].kodebarang);
        });
        $('#btnAdd').click(function () {
            $('input[type="search"]').val('').keyup()
        });
        $('#btnchoosecashier').click(function () {
            var data = rowSelection3.rows('.selected').data();
            var allcashier = "";
            var allcashierreal = "";
            for (var i = 0; i < data.length; i++) {
                if (i == 0) {
                    allcashier = data[i][0] + "-" + data[i][1];
                    allcashierreal = data[i][0];
                }
                else {
                    allcashier = allcashier + "\n" + data[i][0] + "-" + data[i][1];
                    allcashierreal = allcashierreal + "," + data[i][0];
                }
            }
            $('#useridlist').val(allcashier);
            $('#useridlistreal').val(allcashierreal);
        });
         $.getJSON("@Url.Action("getItemFromStoreReport", "Report")", function (data) {
            rowSelection2.destroy();
            rowSelection2 = $('#dttest2').DataTable({
                data: data,
                columns: [
                    { "data": "kodebarang" },
                    { "data": "namabarang" },
                    { "data": "namakategori" },
                    { "data": "namaprodusen" },
                    { "data": "stock" },
                    { "data": "harga" },
                    { "data": "satuan" },
                    { "data": "itemcode" }
                ],
                "columnDefs": [
                    { "targets": [3, 4, 5, 6], "searchable": false },
                    { "className": "hidden", "targets": [3, 4, 5] },
                    { "className": "dt-right", "targets": [4] },
                    { "className": "dt-center", "targets": [0, 6, 7] }
                ]
            });
             $('#dttest2').on('click', 'tr', function () {
                 if ($(this).hasClass('selected')) {
                     $(this).removeClass('selected');
                 }
                 else {
                     rowSelection2.$('tr.selected').removeClass('selected');
                     $(this).addClass('selected');
                 }
             });
        });
        $('#dttest2 tbody').on('dblclick', 'tr', function () {
            var data = rowSelection2.row(this).data();
            $('#txtitemcode').val(data.kodebarang);
            $('#myModal').modal('hide');
        });
    })
    $(function () {
        $("#datepicker1").datepicker({
            format: 'dd-mm-yyyy'
        });
        $("#datepicker1").datepicker().datepicker("setDate", new Date());
        $("#datepicker2").datepicker({
            format: 'dd-mm-yyyy'
        });
        $("#datepicker2").datepicker().datepicker("setDate", new Date());
    });
    function format(invoices) {
        let table =
            '<table class="table table-striped table-bordered" cellspacing="0" width="100%">' +
            '<thead>' +
            '<tr>' +
            '<th class="dt-center">Invoice No.</th>' +
            '<th class="dt-center">Invoice Date</th>' +
            '<th class="dt-center">Customer Name</th>' +
            '<th class="dt-center">Location Name</th>' +
            '<th class="dt-center">Qty</th>' +
            '<th class="dt-center">Total</th>' +
            '</tr>' +
            '</thead><tbody>';
        for (let key in invoices) {
            table += '<tr>' +
                '<td class="dt-center">' + invoices[key].nofaktur + '</td>' +
                '<td class="dt-center">' + invoices[key].modidate + '</td>' +
                '<td class="dt-center">' + invoices[key].namacustomer+ '</td>' +
                '<td class="dt-center">' + invoices[key].namalokasi + '</td>' +
                '<td class="dt-right">' + invoices[key].qty.toLocaleString(['ban', 'id']) + '</td>' +
                '<td class="dt-right">' + invoices[key].total.toLocaleString(['ban', 'id']) + '</td>' +
                '</tr>';
        }
        table += '</tbody>';
        return table;
    }
    function onclicksearch() {
        $("#btnSaveItem").attr("disabled", true);
        var getfromdate = document.getElementById("datepicker1").value;
        var gettodate = document.getElementById("datepicker2").value;
        var getuserlist = document.getElementById("useridlistreal").value;
        var getitemcode = document.getElementById("txtitemcode").value;
        var kodelokasi = document.getElementById("txtkodelokasi").value;
        var getreferenceto = document.getElementById("user");
        var getuserid = getreferenceto.options[getreferenceto.selectedIndex].value;
        var getreferencekategori = document.getElementById("kategori");
        var getkategoriid = getreferencekategori.options[getreferencekategori.selectedIndex].value;
        var getreferencecustomer = document.getElementById("customer");
        var getcustomerid = getreferencecustomer.options[getreferencecustomer.selectedIndex].value;
        var getmultiselect = $("#UserId").val();
        let copyData = [];
        var showRow = $('#dttest_length .dataTables_length').html();
        var tableHeader = $('#dttest thead').html();
        $.getJSON("@Url.Action("GetReportPenjualanItem", "Report")?fromdate=" + getfromdate + "&todate=" + gettodate + "&userid=" + getuserlist + "&kodekategori=" + getkategoriid + "&itemcode=" + getitemcode + "&customer=" + getcustomerid, function (data) {
            let header =
                '<h2 style="text-align:center;">Sales Report By Item</h2>' +
                '<h4 style="text-align:center;">' + kodelokasi + '</h4>' +
                '<h4 style="text-align:center;"> Tanggal: ' + getfromdate + ' - ' + gettodate + '</h4>' +
                '<h4 style="text-align:center;"> Item Code: ' + (getitemcode || "-") + '</h4>' +
                '<table class="table table-bordered" style="font-size:13px"><tbody>' +
                '<thead><th>Item Code</th>' +
                '<th>Item Name</th>' +
                '<th>Invoice No.</th>' +
                '<th>Invoice Date</th>' +
                '<th>Customer</th>' +
                '<th>Qty</th>' +
                '<th>Total</th>';
            for (let i in data) {
                header += '<tr><td>' +
                    (data[i].kodebarang || '') + '</td><td>' +
                    (data[i].namabarang || '') + '</td><td>' +
                    (data[i].nofaktur || '') + '</td><td>' +
                    (data[i].tgl || '') + '</td><td>' +
                    (data[i].namacustomer || '') + '</td><td>' +
                    (data[i].qty || '') + '</td><td>' +
                    //((data[i].price !== 0) ? data[i].price.toLocaleString(['ban', 'id']) : '') + '</td><td>' +
                    //(data[i].qty || '') + '</td><td>' +
                    //(data[i].disc.toLocaleString(['ban', 'id']) || 0) + '</td><td>' +
                    (data[i].strtotal || '') + '</td>';
            }
            header += '</tbody></table>'
            let kodebarang;
            copyData = data.filter(x => x.kodebarang != null).reduce((a, v) => {
                if (v['kodebarang'] == '' || v['kodebarang'] == null) {
                    v['kodebarang'] = kodebarang;
                }
                (a[v['kodebarang']] = a[v['kodebarang']] || []).push(v)
                kodebarang = v['kodebarang'];
                return a;
            }, {});
            copyData = Object.keys(copyData).map(x => {
                const totalQty = copyData[x].reduce((a, v) => a + v['qty'], 0)
                const totalStrTotal = copyData[x].reduce((a, v) => a + v['total'], 0)
                let bro = Object.assign({}, {
                    ...copyData[x][0],
                    invoices: [ ...copyData[x] ],
                    totalQty: totalQty,
                    totalStrTotal: totalStrTotal
                });
                return bro;
            });
            const totalQtyAll = copyData.reduce((a, v) => a + v['totalQty'], 0)
            const totalStrTotalAll = copyData.reduce((a, v) => a + v['totalStrTotal'], 0)
            //console.log(copyData);
            rowSelection.destroy();
            $('#dttest').empty();
            //$('#dttest').empty();
            rowSelection = $('#dttest').DataTable({
                "paging": false,
                "order": [[0, "asc"]],
                processing: true,
                data: copyData,
                columns: [
                    {
                        "data": "kodebarang",
                        class: "dt-center details-control"
                    },
                    { "data": "namabarang" },
                    {
                        "data": "totalQty",
                        render: function (data) {
                            return data.toLocaleString(['ban', 'id']);
                        }
                    },
                    {
                        "data": "totalStrTotal",
                        render: function (data) {
                            return data.toLocaleString(['ban', 'id']);
                        }
                    }
                ],
                "responsive": true,
                "language": {
                    "paginate": {
                        "previous": '<i class="demo-psi-arrow-left"></i>',
                        "next": '<i class="demo-psi-arrow-right"></i>'
                    }
                },
                dom: 'Bfrtip',
                buttons: [
                //    {
                //        extend: 'pdfHtml5',
                //        customize: function (doc) {
                //            var cols = [];
                //            cols[0] = { text: 'Left part', alignment: 'left', margin: [20] };
                //            cols[1] = { text: 'Right part', alignment: 'right', margin: [0, 0, 20] };
                //            var objFooter = {};
                //            objFooter['columns'] = cols;
                //            doc['footer'] = objFooter;
                //            doc.content.splice(1, 0,
                //                {
                //                    margin: [0, 0, 0, 12],
                //                    alignment: 'center',
                //                    text: header
                //                }
                //            );
                //        },
                //        text: 'Save current page',
                //        exportOptions: {
                //            modifier: {
                //                page: 'current'
                //            }
                //        }
                //    }
                ],
                "columnDefs": [
                    { "className": "dt-right", "targets": [2, 3] },
                    { "className": "dt-center", "targets": [0, 1] },
                    { "targets": [], "searchable": false }
                ]
            });
            $('#dttest thead').html(showRow);
            $('#dttest thead').html(tableHeader);
            $('#dttest tbody').after(
                '<tfoot><tr>' +
                '<th></th>' +
                '<th></th>' +
                '<th class="dt-right">' + totalQtyAll.toLocaleString(['ban', 'id']) + '</th>' +
                '<th class="dt-right">' + totalStrTotalAll.toLocaleString(['ban', 'id']) + '</th>' +
                '</tr></tfoot>'
            );
            $('#dttest tbody').on('click', 'tr td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = rowSelection.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    tr.removeClass('details');
                    row.child.hide();
                }
                else {
                    // Open this row
                    tr.addClass('details');
                    row.child(format(row.data().invoices)).show();

                }
            });
            $("#btnSaveItem").attr("disabled", false);
        });
        document.getElementById("btnprint").disabled = false;
    }
    function printclick()
    {
        var getfromdate = document.getElementById("datepicker1").value;
        var gettodate = document.getElementById("datepicker2").value;
        var dropdown = document.getElementById("dropdowntipe5");
        gettipe = dropdown.options[dropdown.selectedIndex].value;
        var getitemcode = document.getElementById("txtitemcode").value;
        if (getfromdate.length > 0 && gettodate.length > 0) {
            $("input[name='GridHtml']").val($("#Grid").html());
            window.location.href = "@Url.Action("ExportReportMutasiStokLokasi", "Report")?fromdate=" + getfromdate + "&todate=" + gettodate + "&type=" + gettipe + "&itemcode=" + getitemcode;
        }
    }
    function checkdatetime() {
        var value1 = document.getElementById("datepicker1").value;
        var value2 = document.getElementById("datepicker2").value;
        var strdt1 = value1.split("-");
        var finaldt1 = strdt1[2] + strdt1[1] + strdt1[0];
        var strdt2 = value2.split("-");
        var finaldt2 = strdt2[2] + strdt2[1] + strdt2[0];
        if (parseInt(finaldt1) > parseInt(finaldt2)) {
            $('#datepicker1').val("");
            $('#datepicker2').val("");
        }
    }
</script>
<script>
    function selectElementContents(el) {
        var body = document.body, range, sel;
        if (document.createRange && window.getSelection) {
            range = document.createRange();
            sel = window.getSelection();
            sel.removeAllRanges();
            try {
                range.selectNodeContents(el);
                sel.addRange(range);
            } catch (e) {
                range.selectNode(el);
                sel.addRange(range);
            }
            document.execCommand("copy");
            alert('Table Copied!');

        } else if (body.createTextRange) {
            range = body.createTextRange();
            range.moveToElementText(el);
            range.select();
            range.execCommand("Copy");
        }
    }
</script>
<div>
    <div>
        <div id="page-content" style="font-size:14px">
            <div class="col-sm-12">
                <div class="panel panel-bordered panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sales Report By Item</h3>
                    </div>
                    @using (Html.BeginForm("AddTransferIn", "Transfer", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">From Date</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.fromtanggal, new { @type = "text", @class = "form-control", @onchange = "checkdatetime()", @id = "datepicker1", @required = "required" })
                                </div>
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail">To Date</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.totanggal, new { @type = "text", @class = "form-control", @onchange = "checkdatetime()", @id = "datepicker2", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">Customer</label>
                                <div class="col-sm-3">
                                    @{
                                        List<SelectListItem> listItems10 = new List<SelectListItem>();
                                        listItems10.Add(new SelectListItem
                                        {
                                            Text = "ALL",
                                            Value = "0"
                                        });
                                        foreach (var item in Model.customers)
                                        {
                                            listItems10.Add(new SelectListItem
                                            {
                                                Text = item.kodecustomer + " - " + item.namacustomer,
                                                Value = item.kodecustomer
                                            });
                                        }
                                    }
                                    @Html.DropDownListFor(model => model.customer, listItems10, new { @class = "form-control", @id = "customer", @required = "required" })
                                </div>
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail">Item Code</label>
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(model => model.itemcode, new { @type = "text", @class = "form-control", @required = "required", @id = "txtitemcode" })
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" class="btn btn-primary fileinput-button dz-clickable" data-toggle="modal" data-target="#myModal" id="btnAdd">
                                        <span>Choose</span>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">Category</label>
                                <div class="col-sm-3">
                                    @{
                                        List<SelectListItem> listItems9 = new List<SelectListItem>();
                                        listItems9.Add(new SelectListItem
                                        {
                                            Text = "ALL",
                                            Value = "0"
                                        });
                                        foreach (var item in Model.kategori)
                                        {
                                            listItems9.Add(new SelectListItem
                                            {
                                                Text = item.kodekategori + " - " + item.namakategori,
                                                Value = item.kodekategori
                                            });
                                        }
                                    }
                                    @Html.DropDownListFor(model => model.kodekategori, listItems9, new { @class = "form-control", @id = "kategori", @required = "required" })
                                </div>
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail">Cashier</label>
                                <div class="col-sm-3" hidden>
                                    @Html.DropDownList("UserId", (MultiSelectList)ViewBag.Cashiers, new { @class = "form-control", multiple = "multiple", size = 5 })
                                </div>
                                <div class="col-sm-3">
                                    @Html.TextAreaFor(model => model.user, 3, 40, new { @type = "text", @class = "form-control", @id = "useridlist", @required = "required", @disabled = "disabled" })
                                </div>
                                <div class="col-sm-2" hidden>
                                    @Html.TextAreaFor(model => model.user, 3, 40, new { @type = "text", @class = "form-control", @id = "useridlistreal", @required = "required" })
                                </div>
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail" hidden>Cashier</label>
                                <div class="col-sm-3" hidden>
                                    @{
                                        List<SelectListItem> listItems8 = new List<SelectListItem>();
                                        listItems8.Add(new SelectListItem
                                        {
                                            Text = "ALL",
                                            Value = "0"
                                        });
                                        foreach (var item in Model.musers)
                                        {
                                            listItems8.Add(new SelectListItem
                                            {
                                                Text = item.muserid + " - " + item.musernama,
                                                Value = item.muserid
                                            });
                                        }
                                    }
                                    @Html.DropDownListFor(model => model.user, listItems8, new { @class = "form-control", @id = "user", @required = "required" })
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" class="btn btn-primary fileinput-button dz-clickable" data-toggle="modal" data-target="#myModal2">
                                        <span>Choose</span>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group" style="display:none;">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">Kode Lokasi</label>
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(model => model.kodelokasi, new { @type = "text", @class = "form-control", @required = "required", @id = "txtkodelokasi" })
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" class="btn btn-primary fileinput-button dz-clickable" data-toggle="modal" data-target="#myModal" id="btnAdd">
                                        <span>Choose</span>
                                    </button>
                                </div>
                            </div>
                            <button id="btnSaveItem" class="btn btn-primary" type="button" name="submitorder" onclick="onclicksearch()">Generate</button>
                            @*<button type="button" class="btn btn-primary fileinput-button dz-clickable" id="btnprint" onclick="printclick()" hidden>
                                    <i class="fa fa-plus"></i>
                                    <span>Copy Table</span>
                                </button>*@
                            <button type="button" class="btn btn-primary fileinput-button dz-clickable" id="btncopy"
                                    onclick="selectElementContents( document.getElementById('dttest') );"
                                    value="select table" hidden>
                                <i class="fa fa-plus"></i>
                                <span>Copy Table</span>
                            </button>
                            <div class="form-group"></div>
                            <table id="dttest" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th width="10px" style="text-align:center">Item Code</th>
                                        <th width="10px" style="text-align:center">Item Name</th>
                                        <th width="10px" style="text-align:center">Total Qty</th>
                                        <th width="10px" style="text-align:center">Total Amount</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Choose Item</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="dttest2" class="display DataTable" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th width="10px" style="text-align:center">Code</th>
                                <th width="10px" style="text-align:center">Name</th>
                                <th width="10px" style="text-align:center">Category</th>
                                <th width="10px" style="text-align:center">Produsen</th>
                                <th width="10px" style="text-align:center">Stock</th>
                                <th width="10px" style="text-align:center">Price</th>
                                <th width="10px" style="text-align:center">UoM</th>
                                <th width="10px" style="text-align:center">Barcode</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnchoose" data-dismiss="modal">Choose</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Choose Cashier</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="dttest3" class="display DataTable" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th width="10px" style="text-align:center">Cashier Code</th>
                                <th width="10px" style="text-align:center">Cashier Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.musers)
                            {
                                <tr>
                                    <td style="text-align:center">@item.muserid</td>
                                    <td>@item.musernama</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnchoosecashier" data-dismiss="modal">Choose</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->