﻿@model POSVITWeb.Models.ReportEndofDay
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Asset/js/jquery.min.js"></script>
<script src="~/Asset/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-3.1.1.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-1-8-23-ui.min.js" type="text/javascript"></script>
<script src="~/Asset/js/bootstrap-datepicker.js" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Asset/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/buttons.datatable.min.css")" rel="stylesheet" type="text/css" />
<script src="~/Asset/js/jquery.datatable.min.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Asset/js/datatable.buttons.min.js"></script>
<script src="~/Asset/js/buttons.flash.min.js"></script>
<script src="~/Asset/js/buttons.html5.min.js"></script>
<script src="~/Asset/js/buttons.print.min.js"></script>
<script src="~/Asset/js/jszip.min.js"></script>
<script src="~/Asset/js/pdfmake.min.js"></script>
<script src="~/Asset/js/vfs_font.js"></script>

<script src="~/Asset/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script>
    var rowSelection;
    var rowSelection2;
    $(document).ready(function () {
        rowSelection2 = $('#dttest2').DataTable({
            "columnDefs": [
                { "targets": [0, 1, 2, 7], "searchable": false },
                { "className": "hidden", "targets": [3, 4, 5] },
                { "className": "dt-right", "targets": [4] },
                { "className": "dt-center", "targets": [0, 6, 7] }
            ]
        });
        rowSelection = $('#dttest').DataTable({
            "ordering": false,
            "responsive": true,
            "language": {
                "paginate": {
                    "previous": '<i class="demo-psi-arrow-left"></i>',
                    "next": '<i class="demo-psi-arrow-right"></i>'
                }
            },
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Laporan Total Penjualan',
                    filename: 'Laporan_Total_Penjualan_Excel',
                    exportOptions: {
                        columns: ':visible'
                    },
                    header: 'false'
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Laporan Total Penjualan',
                    filename: 'Laporan_Total_Penjualan_Pdf',
                    exportOptions: {
                        columns: ':visible',
                        exporterPdfAlign: 'right'
                    },
                    header: 'false'
                }
            ]
        });
        $('#btnchoose').click(function () {
            var data = rowSelection2.rows('.selected').data();
            $('#txtitemcode').val(data[0].kodebarang);
        });
        $('#btnAdd').click(function () {
            $('input[type="search"]').val('').keyup()
        });
         $.getJSON("@Url.Action("getItemFromStoreReport", "Report")", function (data) {
            rowSelection2.destroy();
            rowSelection2 = $('#dttest2').DataTable({
                data: data,
                columns: [
                    { "data": "kodebarang" },
                    { "data": "namabarang" },
                    { "data": "namakategori" },
                    { "data": "namaprodusen" },
                    { "data": "stock" },
                    { "data": "harga" },
                    { "data": "satuan" },
                    { "data": "itemcode" }
                ],
                "columnDefs": [
                    { "targets": [3, 4, 5, 6], "searchable": false },
                    { "className": "hidden", "targets": [3, 4, 5] },
                    { "className": "dt-right", "targets": [4] },
                    { "className": "dt-center", "targets": [0, 6, 7] }
                ]
            });
             $('#dttest2').on('click', 'tr', function () {
                 if ($(this).hasClass('selected')) {
                     $(this).removeClass('selected');
                 }
                 else {
                     rowSelection2.$('tr.selected').removeClass('selected');
                     $(this).addClass('selected');
                 }
             });
        });
    })
    $(function () {
        $("#datepicker1").datepicker({
            format: 'dd-mm-yyyy'
        });
        $("#datepicker1").datepicker().datepicker("setDate", new Date());
        $("#datepicker2").datepicker({
            format: 'dd-mm-yyyy'
        });
        $("#datepicker2").datepicker().datepicker("setDate", new Date());
    });
    function format(invoices) {
        let table =
            '<table class="table table-striped table-bordered" cellspacing="0" width="100%">' +
            '<thead>' +
            '<tr>' +
            '<th class="dt-center">Payment Code</th>' +
            '<th class="dt-center">Payment Name</th>' +
            '<th class="dt-center">System</th>' +
            '<th class="dt-center">Actual</th>' +
            '<th class="dt-center">Diff</th>' +
            '</tr>' +
            '</thead><tbody>';
        for (let key in invoices) {
            table += '<tr>' +
                '<td class="dt-center">' + invoices[key].kodepembayaran + '</td>' +
                '<td class="dt-center">' + invoices[key].namapembayaran + '</td>' +
                '<td class="dt-right">' + invoices[key].nominalsystem.toLocaleString(['ban', 'id']) + '</td>' +
                '<td class="dt-right">' + invoices[key].nominalfisik.toLocaleString(['ban', 'id']) + '</td>' +
                '<td class="dt-right">' + invoices[key].nominaldiff.toLocaleString(['ban', 'id']) + '</td>' +
                '</tr>';
        }
        table += '<tr><td class="dt-center"><b>Report</b>: </td><td colspan="4" style="text-align: justify">' + (invoices[0].beritaacara).split('(+/-) ').join('(+/-) <br>') + '</td></tr></tbody>';
        return table;
    }
    function onclicksearch() {
        $("#btnSaveItem").attr("disabled", true);
        var getfromdate = document.getElementById("datepicker1").value;
        var gettodate = document.getElementById("datepicker2").value;
        let copyData = [];
        var showRow = $('#dttest_length .dataTables_length').html();
        var tableHeader = $('#dttest thead').html();
        $.getJSON("@Url.Action("GetReportEndofDay", "Report")?fromdate=" + getfromdate + "&todate=" + gettodate, function (data) {
            let idshift;
            copyData = data.filter(x => x.tgl != null).reduce((a, v) => {
                if (v['tgl'] == '' || v['tgl'] == null) {
                    v['tgl'] = tgl;
                }
                (a[v['tgl']] = a[v['tgl']] || []).push(v)
                idshift = v['tgl'];
                return a;
            }, {});
            copyData = Object.keys(copyData).map(x => {
                const totalFisik = copyData[x].reduce((a, v) => a + v['nominalfisik'], 0)
                const totalStrTotal = copyData[x].reduce((a, v) => a + v['nominalsystem'], 0)
                const totalDiff = copyData[x].reduce((a, v) => a + v['nominaldiff'], 0)
                let bro = Object.assign({}, {
                    ...copyData[x][0],
                    invoices: [ ...copyData[x] ],
                    totalFisik: totalFisik,
                    totalStrTotal: totalStrTotal,
                    totalDiff: totalDiff
                });
                return bro;
            });
            const totalFisikAll = copyData.reduce((a, v) => a + v['totalFisik'], 0)
            const totalStrTotalAll = copyData.reduce((a, v) => a + v['totalStrTotal'], 0)
            const totalStrDiffAll = copyData.reduce((a, v) => a + v['totalDiff'], 0)
            //console.log(copyData);
            rowSelection.destroy();
            $('#dttest').empty();
            //$('#dttest').empty();
            rowSelection = $('#dttest').DataTable({
                "paging": false,
                "order": [[0, "asc"]],
                processing: true,
                data: copyData,
                columns: [
                    {
                        "data": "tgl",
                        class: "dt-center details-control"
                    },
                    {
                        "data": "totalStrTotal",
                        render: function (data) {
                            return data.toLocaleString(['ban', 'id']);
                        }
                    },
                    {
                        "data": "totalFisik",
                        render: function (data) {
                            return data.toLocaleString(['ban', 'id']);
                        }
                    },
                    {
                        "data": "totalDiff",
                        render: function (data) {
                            return data.toLocaleString(['ban', 'id']);
                        }
                    },
                    //{
                    //    "data": "beritaacara"
                    //}
                ],
                "responsive": true,
                "language": {
                    "paginate": {
                        "previous": '<i class="demo-psi-arrow-left"></i>',
                        "next": '<i class="demo-psi-arrow-right"></i>'
                    }
                },
                dom: 'Bfrtip',
                buttons: [
                ],
                "columnDefs": [
                    { "className": "dt-right", "targets": [1, 2, 3] },
                    { "className": "dt-center", "targets": [0] },
                    { "targets": [], "searchable": false }
                ]
            });
            $('#dttest thead').html(showRow);
            $('#dttest thead').html(tableHeader);
            //$('#dttest tbody').after(
            //    '<tfoot><tr>' +
            //    '<th></th>' +
            //    '<th class="dt-right">' + totalStrTotalAll.toLocaleString(['ban', 'id']) + '</th>' +
            //    '<th class="dt-right">' + totalFisikAll.toLocaleString(['ban', 'id']) + '</th>' +
            //    '<th class="dt-right">' + totalStrDiffAll.toLocaleString(['ban', 'id']) + '</th>' +
            //    '</tr></tfoot>'
            //);
            $('#dttest tbody').on('click', 'tr td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = rowSelection.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    tr.removeClass('details');
                    row.child.hide();
                }
                else {
                    // Open this row
                    tr.addClass('details');
                    row.child(format(row.data().invoices)).show();

                }
            });
            $('#btnSaveItem').attr("disabled", false);
        });
    }
    function checkdatetime() {
        var value1 = document.getElementById("datepicker1").value;
        var value2 = document.getElementById("datepicker2").value;
        var strdt1 = value1.split("-");
        var finaldt1 = strdt1[2] + strdt1[1] + strdt1[0];
        var strdt2 = value2.split("-");
        var finaldt2 = strdt2[2] + strdt2[1] + strdt2[0];
        if (parseInt(finaldt1) > parseInt(finaldt2)) {
            $('#datepicker1').val("");
            $('#datepicker2').val("");
        }
    }
    function printclick()
    {
        var getfromdate = document.getElementById("datepicker1").value;
        var gettodate = document.getElementById("datepicker2").value;
        var dropdown = document.getElementById("dropdowntipe5");
        gettipe = dropdown.options[dropdown.selectedIndex].value;
        var getitemcode = document.getElementById("txtitemcode").value;
        if (getfromdate.length > 0 && gettodate.length > 0) {
            $("input[name='GridHtml']").val($("#Grid").html());
            window.location.href = "@Url.Action("ExportReportMutasiStokLokasi", "Report")?fromdate=" + getfromdate + "&todate=" + gettodate + "&type=" + gettipe + "&itemcode=" + getitemcode;
        }
    }
</script>
<script>
    function selectElementContents(el) {
        var body = document.body, range, sel;
        if (document.createRange && window.getSelection) {
            range = document.createRange();
            sel = window.getSelection();
            sel.removeAllRanges();
            try {
                range.selectNodeContents(el);
                sel.addRange(range);
            } catch (e) {
                range.selectNode(el);
                sel.addRange(range);
            }
            document.execCommand("copy");
            alert('Table Copied!');

        } else if (body.createTextRange) {
            range = body.createTextRange();
            range.moveToElementText(el);
            range.select();
            range.execCommand("Copy");
        }
    }
</script>
<div>
    <div>
        <div id="page-content" style="font-size:14px">
            <div class="col-sm-12">
                <div class="panel panel-bordered panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">End of Day Report</h3>
                    </div>
                    @using (Html.BeginForm("AddTransferIn", "Transfer", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="demo-hor-inputemail">Date</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.fromtanggal, new { @type = "text", @class = "form-control", @onchange = "checkdatetime()", @id = "datepicker1", @required = "required" })
                            </div>
                            <label class="col-sm-1 control-label" for="demo-hor-inputemail">To Date</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.totanggal, new { @type = "text", @class = "form-control", @onchange = "checkdatetime()", @id = "datepicker2", @required = "required" })
                            </div>
                        </div>
                        <button id="btnSaveItem" class="btn btn-primary" type="button" name="submitorder" onclick="onclicksearch()">Generate</button>
                        @*<button type="button" class="btn btn-primary fileinput-button dz-clickable" id="btnprint" onclick="printclick()" hidden>
                            <i class="fa fa-plus"></i>
                            <span>Print</span>
                        </button>*@
                        <button type="button" class="btn btn-primary fileinput-button dz-clickable" id="btncopy"
                                onclick="selectElementContents( document.getElementById('dttest') );"
                                value="select table" hidden>
                            <i class="fa fa-plus"></i>
                            <span>Copy Table</span>
                        </button>
                        <div class="form-group"></div>
                        <table id="dttest" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="10px" style="text-align:center">Date</th>
                                    <th width="10px" style="text-align:center">Total System</th>
                                    <th width="10px" style="text-align:center">Total Actual</th>
                                    <th width="10px" style="text-align:center">Total Diff</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>