﻿@model POSVITWeb.Models.ReportStokAkhir
@{
    Layout = "~/Views/Shared/NewHome.cshtml";
}
<script src="~/Asset/js/jquery.min.js"></script>
<script src="~/Asset/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-3.1.1.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-1-8-23-ui.min.js" type="text/javascript"></script>
<script src="~/Asset/js/bootstrap-datepicker.js" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Asset/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/buttons.datatable.min.css")" rel="stylesheet" type="text/css" />
<script src="~/Asset/js/jquery.datatable.min.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Asset/js/datatable.buttons.min.js"></script>
<script src="~/Asset/js/buttons.flash.min.js"></script>
<script src="~/Asset/js/buttons.html5.min.js"></script>
<script src="~/Asset/js/buttons.print.min.js"></script>
<script src="~/Asset/js/jszip.min.js"></script>
<script src="~/Asset/js/pdfmake.min.js"></script>
<script src="~/Asset/js/vfs_font.js"></script>
<script src="~/Asset/js/bootstrap.min.js"></script>

<script>
    var rowSelection;
    var rowSelection2;
    $(document).ready(function () {
        rowSelection2 = $('#dttest2').DataTable({
            "columnDefs": [
                { "targets": [0, 1, 2, 7], "searchable": false },
                { "className": "hidden", "targets": [1, 3, 4, 5] },
                { "className": "dt-right", "targets": [4] },
                { "className": "dt-center", "targets": [0, 6, 7] }
            ]
        });
        rowSelection = $('#dttest').DataTable({
            "ordering": false,
            "responsive": true,
            "language": {
                "paginate": {
                    "previous": '<i class="demo-psi-arrow-left"></i>',
                    "next": '<i class="demo-psi-arrow-right"></i>'
                }
            },
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Laporan Total Penjualan',
                    filename: 'Laporan_Total_Penjualan_Excel',
                    exportOptions: {
                        columns: ':visible'
                    },
                    header: 'false'
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Laporan Total Penjualan',
                    filename: 'Laporan_Total_Penjualan_Pdf',
                    exportOptions: {
                        columns: ':visible',
                        exporterPdfAlign: 'right'
                    },
                    header: 'false'
                }
            ], "columnDefs": [
                { "className": "hidden", "targets": [1] },
                { "className": "dt-right", "targets": [5] },
                { "className": "dt-center", "targets": [0, 2, 4] },
                { "targets": [0], "searchable": false }
            ]
        });
        $('#btnchoose').click(function () {
            var data = rowSelection2.rows('.selected').data();
            $('#txtitemcode').val(data[0].kodebarang);
        });
        $('#btnAdd').click(function () {
            $('input[type="search"]').val('').keyup()
        });
        $.getJSON("@Url.Action("getItemFromStoreReport", "Report")", function (data) {
            rowSelection2.destroy();
            rowSelection2 = $('#dttest2').DataTable({
                data: data,
                columns: [
                    { "data": "kodebarang" },
                    { "data": "namabarang" },
                    { "data": "namakategori" },
                    { "data": "namaprodusen" },
                    { "data": "stock" },
                    { "data": "harga" },
                    { "data": "satuan" },
                    { "data": "itemcode" }
                ],
                "columnDefs": [
                    { "targets": [0, 1, 2, 7], "searchable": false },
                    { "className": "hidden", "targets": [3, 4, 5] },
                    { "className": "dt-right", "targets": [4] },
                    { "className": "dt-center", "targets": [0, 6, 7] }
                ]
            });
             $('#dttest2').on('click', 'tr', function () {
                 if ($(this).hasClass('selected')) {
                     $(this).removeClass('selected');
                 }
                 else {
                     rowSelection2.$('tr.selected').removeClass('selected');
                     $(this).addClass('selected');
                 }
            });
            $('#dttest2 tbody').on('dblclick', 'tr', function () {
                var data = rowSelection2.row(this).data();
                $('#txtitemcode').val(data.kodebarang);
                $('#myModal').modal('hide');
            });
        });
    })
    $(function () {
        $("#datepicker1").datepicker({
            format: 'dd-mm-yyyy'
        });
        $("#datepicker1").datepicker().datepicker("setDate", new Date());
    });
    function onclicksearch() {
        $("#btnSaveItem").attr("disabled", true);
        var getfromdate = document.getElementById("datepicker1").value;
        var getitemcode = document.getElementById("txtitemcode").value;
        $.getJSON("@Url.Action("GetReportStokAkhir", "Report")?date=" + getfromdate + "&itemcode=" + getitemcode, function (data) {
            rowSelection.destroy();
            rowSelection = $('#dttest').DataTable({
                data: data,
                columns: [
                    { "data": "no" },
                    { "data": "namalokasi" },
                    { "data": "kodebarang" },
                    { "data": "namabarang" },
                    { "data": "satuan" },
                    { "data": "stokakhir" }
                ],
                "ordering": false,
                "responsive": true,
                "language": {
                    "paginate": {
                        "previous": '<i class="demo-psi-arrow-left"></i>',
                        "next": '<i class="demo-psi-arrow-right"></i>'
                    }
                },
                buttons: [
                    {
                        extend: 'excelHtml5',
                        title: 'Laporan Total Penjualan',
                        filename: 'Laporan_Total_Penjualan_Excel',
                        exportOptions: {
                            columns: ':visible'
                        },
                        header: 'false'
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'Laporan Total Penjualan',
                        filename: 'Laporan_Total_Penjualan_Pdf',
                        exportOptions: {
                            columns: ':visible',
                            exporterPdfAlign: 'right'
                        },
                        header: 'false'
                    }
                ], "columnDefs": [
                    { "className": "hidden", "targets": [1] },
                    { "className": "dt-right", "targets": [5] },
                    { "className": "dt-center", "targets": [0, 2, 4] },
                    { "targets": [0], "searchable": false }
                ]
            });
            $("#btnSaveItem").attr("disabled", false);
        });
        document.getElementById("btnprint").disabled = false;
    }
    function printclick()
    {
        var getfromdate = document.getElementById("datepicker1").value;
        var getitemcode = document.getElementById("txtitemcode").value;
        if (getfromdate.length > 0) {
            $("input[name='GridHtml']").val($("#Grid").html());
            window.location.href = "@Url.Action("ExportReportStokAkhir", "Report")?date=" + getfromdate + "&itemcode=" + getitemcode;
        }
    }
</script>
<script>
    function selectElementContents(el) {
        var body = document.body, range, sel;
        if (document.createRange && window.getSelection) {
            range = document.createRange();
            sel = window.getSelection();
            sel.removeAllRanges();
            try {
                range.selectNodeContents(el);
                sel.addRange(range);
            } catch (e) {
                range.selectNode(el);
                sel.addRange(range);
            }
            document.execCommand("copy");
            alert('Table Copied!');

        } else if (body.createTextRange) {
            range = body.createTextRange();
            range.moveToElementText(el);
            range.select();
            range.execCommand("Copy");
        }
    }
</script>
<div>
    <div>
        <div id="page-content" style="font-size:14px">
            <div class="col-sm-12">
                <div class="panel panel-bordered panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Stock Report</h3>
                    </div>
                    @using (Html.BeginForm("AddTransferIn", "Transfer", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">Date</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.tanggal, new { @type = "text", @class = "form-control", @id = "datepicker1", @required = "required" })
                                </div>
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail">Item Code</label>
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(model => model.itemcode, new { @type = "text", @class = "form-control", @required = "required", @id = "txtitemcode" })
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" class="btn btn-primary fileinput-button dz-clickable" data-toggle="modal" data-target="#myModal" id="btnAdd">
                                        <span>Choose</span>
                                    </button>
                                </div>
                            </div>
                            <button id="btnSaveItem" class="btn btn-primary" type="button" name="submitorder" onclick="onclicksearch()">Generate</button>
                            <button type="button" class="btn btn-primary fileinput-button dz-clickable" id="btnprint" onclick="printclick()">
                                <i class="fa fa-plus"></i>
                                <span>Print</span>
                            </button>
                            <button type="button" class="btn btn-primary fileinput-button dz-clickable" id="btncopy"
                                    onclick="selectElementContents( document.getElementById('dttest') );"
                                    value="select table" hidden>
                                <i class="fa fa-plus"></i>
                                <span>Copy Table</span>
                            </button>
                            <div class="form-group"></div>
                            <table id="dttest" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th width="2%" style="text-align:center">No</th>
                                        <th width="10%" style="text-align:center">Store</th>
                                        <th width="5%" style="text-align:center">Item Code</th>
                                        <th width="20%" style="text-align:center">Item Name</th>
                                        <th width="5%" style="text-align:center">UoM</th>
                                        <th width="5%" style="text-align:center">Stock</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Choose Item</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="dttest2" class="display DataTable" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th width="10px" style="text-align:center">Code</th>
                                <th width="10px" style="text-align:center">Name</th>
                                <th width="10px" style="text-align:center">Category</th>
                                <th width="10px" style="text-align:center">Produsen</th>
                                <th width="10px" style="text-align:center">Stock</th>
                                <th width="10px" style="text-align:center">Price</th>
                                <th width="10px" style="text-align:center">UoM</th>
                                <th width="10px" style="text-align:center">Barcode</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnchoose" data-dismiss="modal">Choose</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->