﻿@model POSVITWeb.Models.TransferInDetailClass
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Asset/js/jquery.min.js"></script>
<script src="~/Asset/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-3.1.1.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-1-8-23-ui.min.js" type="text/javascript"></script>
<script src="~/Asset/js/bootstrap-datepicker.js" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Asset/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/buttons.datatable.min.css")" rel="stylesheet" type="text/css" />
<script src="~/Asset/js/jquery.datatable.min.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Asset/js/datatable.buttons.min.js"></script>
<script src="~/Asset/js/buttons.flash.min.js"></script>
<script src="~/Asset/js/buttons.html5.min.js"></script>
<script src="~/Asset/js/buttons.print.min.js"></script>
<script src="~/Asset/js/jszip.min.js"></script>
<script src="~/Asset/js/pdfmake.min.js"></script>
<script src="~/Asset/js/vfs_font.js"></script>

<script src="~/Asset/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script>
    var rowSelection2;
    var rowSelection3;
    var lockdate = '';
    $(document).ready(function () {
        //var rowSelection = $('#dttest').DataTable({
        //    "ajax": {
        //        "url": "../Transfer/getItemFromStore/",
        //        "dataSrc": ""
        //    },
        //    "columns": [{
        //        "data": "kodebarang"
        //    }, {
        //        "data": "namabarang"
        //    }, {
        //        "data": "namakategori"
        //    }, {
        //        "data": "namaprodusen"
        //    }, {
        //        "data": "stock"
        //    }]
        //});
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = (day) + "/" + (month) + "/" + now.getFullYear();
        lockdate = document.getElementById("lockdate").value;
        $('#datepicker1').val(today);
        if (lockdate == 'f') {
            document.getElementById("datepicker1").disabled = false;
        }
        else {
            document.getElementById("datepicker1").disabled = true;
        }
        var counter = 1;
        rowSelection3 = $('#dttest3').DataTable({
            "columnDefs": [
                { "className": "dt-center", "targets": "_all" },
                { "className": "hidden", "targets": [4] }
            ],
            "ordering": false
        });
        var rowSelection = $('#dttest').DataTable();
        rowSelection2 = $('#dttest2').DataTable({
            "responsive": true,
            "language": {
                "paginate": {
                    "previous": '<i class="demo-psi-arrow-left"></i>',
                    "next": '<i class="demo-psi-arrow-right"></i>'
                }
            },
            "columnDefs": [
                { "targets": [2], "searchable": false },
                { "className": "dt-center", "targets": [0, 2] }
            ],
            "ordering": false
        });
        $('#dttest2').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                rowSelection2.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');

            }
        });
        $('#dttest3').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                rowSelection3.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');

            }
        });
        $('#demo-dt-delete-btn').appendTo($("div.toolbar"));
        $('#dt-add-btn').appendTo($("div.toolbar"));
        $('#demo-dt-delete-btn').click(function () {
            var data = rowSelection2.rows('.selected').data();
            var skuid = data[0][0];
            window.location.href = "@Url.Action("DeleteSite","Home")?siteid=" + skuid;
        });
        $('#dttest').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                rowSelection.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
        $('#btnprint').click(function () {
            var textbox = '<input type="number" class="txtBox" value="1" style="text-align:center">';
            var data = rowSelection.rows('.selected').data();
            var getcart = document.getElementById("cart").value;
            if (getcart.length == 0) {
                $('#cart').val(data[0][0]);
                rowSelection2.row.add([
                    data[0][0], data[0][1], textbox
                ]).draw(false);
                counter++;
            }
            else {
                if (getcart.indexOf(data[0][0]) == -1) {
                    $('#cart').val(getcart + ";" + data[0][0]);
                    rowSelection2.row.add([
                        data[0][0], data[0][1], textbox
                    ]).draw(false);
                    counter++;
                }
            }
        });
        $('#btndeletecart').click(function () {
            rowSelection2.row('.selected').remove().draw(false);
        });
        $('#btnSaveItem').click(function () {
            document.getElementById("btnSaveItem").disabled = true;
            var getdate = document.getElementById("datepicker1").value;
            var getcomment = document.getElementById("txtcomment").value;
            var gettostore = document.getElementById("txttostorekode").value;
            var getfromstore = document.getElementById("txtfromstorekode").value;
            //var dropdown = document.getElementById("dropdowntipe5");
            //var getreference = dropdown.options[dropdown.selectedIndex].value;
            var getreference = document.getElementById("nofakturref").value;
            var dropdown2 = document.getElementById("dropdowntipe4");
            var gettype = dropdown2.options[dropdown2.selectedIndex].value;
            var data = rowSelection2.rows().data();
            var cart = '';
            for (var i = 0; i < data.length; i++) {
                if (i == 0) {
                    cart = data[i][0] + '$' + data[i][2];
                }
                else {
                    cart = cart + ';' + data[i][0] + '$' + data[i][2];
                }
                //alert(rowSelection2.cell(i, 2).nodes().to$().find('input').val());
            }
            @*window.location.href = "@Url.Action("SubmitTransferIn","Transfer")?tanggal=" + getdate + "&keterangan=" +
                getcomment + "&noreference=" + getreference + "&fromstore=" + getfromstore + "&tostore=" + gettostore + "&type=" + gettype + "&cart=" + cart + "&mode=2";*@
            $.ajax({
                url: 'SubmitTransferIn',
                type: 'POST',
                contentType: 'application/json;',
                data: JSON.stringify({ tanggal: getdate, keterangan: getcomment, noreference: getreference, fromstore: getfromstore, tostore: gettostore, type: gettype, cart: cart, mode: 2 }),
                success: function (valid) {
                    if (valid.valid) {
                        window.location.href = "@Url.Action("TransferIn","Transfer")?message=" + valid.pesansingkat;
                    } else {
                        document.getElementById("btnSaveItem").disabled = false;
                    }
                }
            });
        });
        $('#btncancel').click(function () {
            document.getElementById("btnSaveItem").disabled = false;
             window.location.href = "@Url.Action("TransferIn","Transfer")";
        });
        $('#btnchooserefTR').click(function () {
            rowSelection2.clear().draw();
            var data = rowSelection3.rows('.selected').data();
            $('#nofakturref').val(data[0][0]);
            $.getJSON("@Url.Action("getFromStore", "Transfer")?nofaktur=" + data[0][0], function (data) {
                $('#footertable').html('');
                $('#txtfromstore').val(data.namalokasi);
                $('#txttostore').val(data.namalokasito);
                $('#txtfromstorekode').val(data.kodelokasi);
                $('#txttostorekode').val(data.kodelokasito);
                $('#txtrefftr').val(data.refftr);
                $('#txtcomment').val(data.keterangan);
                var totalqty = 0;
                for (var i = 0; i < data.carts.length ; i++)
                {
                    totalqty = totalqty + parseFloat(data.carts[i].itemqty);
                    rowSelection2.row.add([
                        data.carts[i].itemcode, data.carts[i].itemname, data.carts[i].itemqty
                    ]).draw(false);
                }
                $("#totalStok").html(totalqty);
                //var myFooter = '<tr>'
                //    + '<th>' + data.carts[data.carts.length - 1].itemcode + '</th>'
                //    + '<th>' + data.carts[data.carts.length - 1].itemname + '</th>'
                //    + '<th>' + data.carts[data.carts.length - 1].itemqty + '</th>'
                //    + '</tr>';
                //$('#footertable').append(myFooter);
                //rowSelection2.row.add([data.carts.itemcode, data.carts.itemname, data.carts.itemqty]).draw(false);
            });
        });
    })
    $(function () {
        $("#datepicker1").datepicker({
            format: 'dd/mm/yyyy'
        });
    });
    function onchangeevent5()
    {
        rowSelection2.clear().draw();
        var getreference = document.getElementById("dropdowntipe5");
        var getvalue = getreference.options[getreference.selectedIndex].value;
        $.getJSON("@Url.Action("getFromStore", "Transfer")?nofaktur=" + getvalue, function (data) {
            $('#footertable').html('');
            $('#txtfromstore').val(data.namalokasi);
            $('#txttostore').val(data.namalokasito);
            $('#txtfromstorekode').val(data.kodelokasi);
            $('#txttostorekode').val(data.kodelokasito);
            $('#txtrefftr').val(data.refftr);
            $('#txtcomment').val(data.keterangan);
            var totalqty = 0;
            for (var i = 0; i < data.carts.length ; i++)
            {
                totalqty = totalqty + parseInt(data.carts[i].itemqty);
                rowSelection2.row.add([
                    data.carts[i].itemcode, data.carts[i].itemname, data.carts[i].itemqty
                ]).draw(false);
            }
            $("#totalStok").html(totalqty);
            //var myFooter = '<tr>'
            //    + '<th>' + data.carts[data.carts.length - 1].itemcode + '</th>'
            //    + '<th>' + data.carts[data.carts.length - 1].itemname + '</th>'
            //    + '<th>' + data.carts[data.carts.length - 1].itemqty + '</th>'
            //    + '</tr>';
            //$('#footertable').append(myFooter);
            //rowSelection2.row.add([data.carts.itemcode, data.carts.itemname, data.carts.itemqty]).draw(false);
        });
    }
</script>
<div>
    <div>
        <div id="page-content" style="font-size:14px">
            <div class="col-sm-12">
                <div class="panel panel-bordered panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Transfer In</h3>
                    </div>
                    @using (Html.BeginForm("AddTransferIn", "Transfer", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">Date</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.tanggal, new { @type = "text", @class = "form-control", @id = "datepicker1", @onchange = "onchangedatetime1()", @required = "required" })
                                </div>
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail">Notes</label>
                                <div class="col-sm-3">
                                    @Html.TextAreaFor(model => model.comment, new { @type = "text", @class = "form-control", @id = "txtcomment", @required = "required", @maxlength = "150" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">Type</label>
                                <div class="col-sm-3">
                                    @{
                                        List<SelectListItem> listItems9 = new List<SelectListItem>();
                                        foreach (var item in Model.type)
                                        {
                                            listItems9.Add(new SelectListItem
                                            {
                                                Text = item.typename,
                                                Value = item.typename
                                            });
                                        }
                                    }
                                    @Html.DropDownListFor(model => model.tipe, listItems9, new { @id = "dropdowntipe4", @onchange = "onchangeevent4()", @class = "form-control" })
                                </div>
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail">Reference</label>
                                @*<div class="col-sm-3">
                                    @{
                                        List<SelectListItem> listItems5 = new List<SelectListItem>();
                                        listItems5.Add(new SelectListItem
                                        {
                                            Text = "--SELECT NO REFERENCE--",
                                            Value = "0"
                                        });
                                        foreach (var item in Model.transferouts)
                                        {
                                            listItems5.Add(new SelectListItem
                                            {
                                                Text = item.kodefaktur,
                                                Value = item.kodefaktur
                                            });
                                        }
                                    }
                                    @Html.DropDownListFor(model => model.transferoutchoose, listItems5, new { @id = "dropdowntipe5", @onchange = "onchangeevent5()", @class = "form-control" })
                                </div>*@
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(model => model.nofakturtr, new { @type = "text", @class = "form-control", @required = "required", @id = "nofakturref", @disabled = "disabled" })
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" class="btn btn-primary fileinput-button dz-clickable" data-toggle="modal" data-target="#myModal2" id="btnAddRef">
                                        <span>Choose</span>
                                    </button>
                                </div>
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail" hidden>Cart</label>
                                <div class="col-sm-3" hidden>
                                    @Html.TextBox("cart", "", new { @type = "text", @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">Transfer From</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.fromstore, new { @type = "text", @id = "txtfromstore", @class = "form-control", @required = "required", @maxlength = "50", @disabled = "true" })
                                </div>
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail" style="text-align:right">Transfer To</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.kodeto, new { @type = "text", @id = "txttostore", @class = "form-control", @required = "required", @maxlength = "50", @disabled = "true" })
                                </div>
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail" style="text-align:right" hidden>To Store</label>
                                <div class="col-sm-3" hidden>
                                    @Html.TextBoxFor(model => model.kodeto, new { @type = "text", @id = "txtfromstorekode", @class = "form-control", @required = "required", @maxlength = "50", @disabled = "true" })
                                </div>
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail" style="text-align:right" hidden>To Store</label>
                                <div class="col-sm-3" hidden>
                                    @Html.TextBoxFor(model => model.kodeto, new { @type = "text", @id = "txttostorekode", @class = "form-control", @required = "required", @maxlength = "50", @disabled = "true" })
                                </div>
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail" id="lbltostore" hidden>To Store</label>
                                <div class="col-sm-3" id="txttostore" hidden>
                                    @Html.TextBoxFor(model => model.lockdate, new { @type = "text", @id = "lockdate", @class = "form-control", @required = "required", @maxlength = "50", @disabled = "true" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">Reff TR</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.nofakturtrreff, new { @type = "text", @id = "txtrefftr", @class = "form-control", @required = "required", @maxlength = "50", @disabled = "true" })
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <table id="dttest2" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th width="10%" style="text-align:center">Code</th>
                                        <th width="50%" style="text-align:center">Name</th>
                                        <th width="10%" style="text-align:center">Qty</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <th width="10px" style="text-align:center"></th>
                                        <th width="10px" style="text-align:center">Total</th>
                                        <th width="10px" style="text-align:center" id="totalStok"></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="panel-footer text-right">
                            <div class="box-inline">
                                <button type="button" id="btncancel" class="btn btn-danger" onclick="onclickcancel()"> Cancel</button>
                                <button id="btnSaveItem" class="btn btn-success" type="button" name="submitorder">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Reference No</h4>
            </div>
            <div class="modal-body">
                <table id="dttest3" class="display DataTable" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th width="10%" style="text-align:center">TSO Reference</th>
                            <th width="25%" style="text-align:center">From</th>
                            <th width="25%" style="text-align:center">Doc Date</th>
                            <th width="25%" style="text-align:center">Notes</th>
                            <th width="10px" style="text-align:center" hidden>Total Qty</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.transferouts)
                        {
                        <tr>
                            <td style="text-align:center">@item.kodefaktur</td>
                            <td style="text-align:center">@item.fromstore</td>
                            <td style="text-align:center">@item.tgl</td>
                            <td style="text-align:center">@item.notes</td>
                            <td style="text-align:center" hidden>@item.qty</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnchooserefTR" data-dismiss="modal">Add</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
