﻿@model POSVITWeb.Models.TransferOutDetailClass
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Asset/js/jquery.min.js"></script>
<script src="~/Asset/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-3.1.1.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-1-8-23-ui.min.js" type="text/javascript"></script>
<script src="~/Asset/js/bootstrap-datepicker.js" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Asset/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/buttons.datatable.min.css")" rel="stylesheet" type="text/css" />
<script src="~/Asset/js/jquery.datatable.min.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Asset/js/datatable.buttons.min.js"></script>
<script src="~/Asset/js/buttons.flash.min.js"></script>
<script src="~/Asset/js/buttons.html5.min.js"></script>
<script src="~/Asset/js/buttons.print.min.js"></script>
<script src="~/Asset/js/jszip.min.js"></script>
<script src="~/Asset/js/pdfmake.min.js"></script>
<script src="~/Asset/js/vfs_font.js"></script>

<script src="~/Asset/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script>
    var rowSelection;
    var rowSelection2;
    var lockdate = '';
    $(document).ready(function () {
        //var rowSelection = $('#dttest').DataTable({
        //    "ajax": {
        //        "url": "../Transfer/getItemFromStore/",
        //        "dataSrc": ""
        //    },
        //    "columns": [{
        //        "data": "kodebarang"
        //    }, {
        //        "data": "namabarang"
        //    }, {
        //        "data": "namakategori"
        //    }, {
        //        "data": "namaprodusen"
        //    }, {
        //        "data": "stock"
        //    }]
        //});
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = (day) + "/" + (month) + "/" + now.getFullYear();
        lockdate = document.getElementById("lockdate").value;
        $('#datepicker1').val(today);
        $('#datepicker2').val(today);
        if (lockdate == 'f') {
            document.getElementById("datepicker1").disabled = false;
        }
        else {
            document.getElementById("datepicker1").disabled = true;
        }
        var counter = 1;
        rowSelection = $('#dttest').DataTable();
        rowSelection2 = $('#dttest2').DataTable({
            "responsive": true,
            "language": {
                "paginate": {
                    "previous": '<i class="demo-psi-arrow-left"></i>',
                    "next": '<i class="demo-psi-arrow-right"></i>'
                }
            },
            "columnDefs": [
                { "className": "dt-center", "targets": [0, 2] },
                { "className": "hidden", "targets": [3] }
            ],
            "ordering": false
        });
        $('#dttest2').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                rowSelection2.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');

            }
        });
        $('#demo-dt-delete-btn').appendTo($("div.toolbar"));
        $('#dt-add-btn').appendTo($("div.toolbar"));
        $('#demo-dt-delete-btn').click(function () {
            var data = rowSelection2.rows('.selected').data();
            var skuid = data[0][0];
            window.location.href = "@Url.Action("DeleteSite","Home")?siteid=" + skuid;
        });
        //$('#dttest').on('click', 'tr', function () {
        //    if ($(this).hasClass('selected')) {
        //        $(this).removeClass('selected');
        //    }
        //    else {
        //        rowSelection.$('tr.selected').removeClass('selected');
        //        $(this).addClass('selected');
        //    }
        //});
        $('#btnprint').click(function () {
            var data = rowSelection.rows().data();
            for (var i = 0; i < data.length; i++) {
                var getcart = document.getElementById("cart").value;
                if (parseInt(rowSelection.cell(i, 6).nodes().to$().find('input').val()) > 0 && rowSelection.cell(i, 6).nodes().to$().find('input').val().length > 0) {
                    var textbox = '<input type="number" class="txtBox" value=' + rowSelection.cell(i, 6).nodes().to$().find('input').val() + ' style="text-align:center">';
                    if (getcart.length == 0) {
                        $('#cart').val(data[i].kodebarang);
                        rowSelection2.row.add([
                            data[i].kodebarang, data[i].namabarang, textbox, data[i].itemcode
                        ]).draw(false);
                        counter++;
                        rowSelection.cell(i, 6).nodes().to$().find('input').prop('disabled', true);
                        rowSelection.cell(i, 6).nodes().to$().find('input').val("");
                    }
                    else {
                        if (getcart.indexOf(data[i].kodebarang) == -1) {
                            $('#cart').val(getcart + ";" + data[i].kodebarang);
                            rowSelection2.row.add([
                                data[i].kodebarang, data[i].namabarang, textbox, data[i].itemcode
                            ]).draw(false);
                            counter++;
                            rowSelection.cell(i, 6).nodes().to$().find('input').prop('disabled', true);
                            rowSelection.cell(i, 6).nodes().to$().find('input').val("");
                        }
                    }
                }
            }
            var datas = rowSelection2.rows().data();
            var totalqty = 0;
            for (var i = 0; i < datas.length; i++) {
                totalqty = totalqty + parseInt(rowSelection2.cell(i, 2).nodes().to$().find('input').val());
            }
            $("#totalSumValue").html(totalqty);
            //var textbox = '<input type="number" class="txtBox" value="1" style="text-align:center">';
            //var data = rowSelection.rows('.selected').data();
            //var getcart = document.getElementById("cart").value;
            //if (getcart.length == 0) {
            //    $('#cart').val(data[0].kodebarang);
            //    rowSelection2.row.add([
            //        data[0].kodebarang, data[0].namabarang, textbox
            //    ]).draw(false);
            //    counter++;
            //}
            //else {
            //    if (getcart.indexOf(data[0].kodebarang) == -1) {
            //        $('#cart').val(getcart + ";" + data[0].kodebarang);
            //        rowSelection2.row.add([
            //            data[0].kodebarang, data[0].namabarang, textbox
            //        ]).draw(false);
            //        counter++;
            //    }
            //}
        });
        $('#btndeletecart').click(function () {
            var data = rowSelection.rows().data();
            var data2 = rowSelection2.row('.selected').data();
            for (var i = 0; i < data.length; i++) {
                if (data[i].kodebarang == data2[0]) {
                    rowSelection.cell(i, 6).nodes().to$().find('input').prop('disabled', false);
                    rowSelection.cell(i, 6).nodes().to$().find('input').val("");
                }
            }
            rowSelection2.row('.selected').remove().draw(false);
            var datas = rowSelection2.rows().data();
            var totalqty = 0;
            for (var i = 0; i < datas.length; i++) {
                totalqty = totalqty + parseInt(rowSelection2.cell(i, 2).nodes().to$().find('input').val());
            }
            $("#totalSumValue").html(totalqty);
        });
        $('#btnSaveItem').click(function () {
            document.getElementById("btnSaveItem").disabled = true;
            var getdate = document.getElementById("datepicker1").value;
            var getdate2 = document.getElementById("datepicker2").value;
            var getcomment = document.getElementById("txtcomment").value;
            var dropdown = document.getElementById("dropdowntipe8");
            var gettostore = dropdown.options[dropdown.selectedIndex].value;
            var dropdown2 = document.getElementById("dropdowntipe4");
            var gettype = dropdown2.options[dropdown2.selectedIndex].value;
            var data = rowSelection2.rows().data();
            var cart = '';
            var checkqty = 0;
            for (var i = 0; i < data.length; i++) {
                if (i == 0) {
                    cart = data[i][0] + '$' + rowSelection2.cell(i, 2).nodes().to$().find('input').val();
                }
                else {
                    cart = cart + ';' + data[i][0] + '$' + rowSelection2.cell(i, 2).nodes().to$().find('input').val();
                }
                if (rowSelection2.cell(i, 2).nodes().to$().find('input').val() <= 0) {
                    checkqty = checkqty + 1;
                }
                //alert(rowSelection2.cell(i, 2).nodes().to$().find('input').val());
            }
            if (checkqty == 0) {
                @*window.location.href = "@Url.Action("SubmitTransferRequest","Transfer")?tanggal=" + getdate + "&keterangan=" +
                    getcomment + "&tostore=" + gettostore + "&type=" + gettype + "&reqdate=" + getdate2 + "&cart=" + cart;*@
                $.ajax({
                    url: 'SubmitTransferRequest',
                    type: 'POST',
                    contentType: 'application/json;',
                    data: JSON.stringify({ tanggal: getdate, keterangan: getcomment, tostore: gettostore, type: gettype, reqdate: getdate2, cart: cart }),
                    success: function (valid) {
                        if (valid.valid) {
                            window.location.href = "@Url.Action("TransferRequest","Transfer")?message=" + valid.pesansingkat;
                        } else {
                            document.getElementById("btnSaveItem").disabled = false;
                        }
                    }
                });
            }
            else {
                document.getElementById("btnSaveItem").disabled = false;
                $("#errormessage").show();
            }
        });
        $('#btncancel').click(function () {
             window.location.href = "@Url.Action("TransferRequest","Transfer")";
        });
        $('#btnAdd').click(function () {
            $('input[type="search"]').val('').keyup()
        });
        $('#txtBarcode').keyup(function () {
            if (this.value.length == 12) {

            }
        });
        $('#txtBarcode').on('keypress', function (e) {
            if (e.which == 13) {
                var data = rowSelection2.rows().data();
                var getindex = -1;
                for (var i = 0; i < data.length; i++) {
                    if (data[i][3] == this.value) {
                        getindex = i;
                    }
                }
                if (getindex != -1) {
                    rowSelection2.cell(getindex, 2).nodes().to$().find('input').val(parseInt(rowSelection2.cell(getindex, 2).nodes().to$().find('input').val()) + 1);
                }
                else {
                    var getreference = document.getElementById("dropdowntipe8");
                    var getvalue = getreference.options[getreference.selectedIndex].value;
                    $.getJSON("@Url.Action("getItemStoreFromBarcode", "Transfer")?barcode=" + this.value + "&kodelokasi=" + getvalue, function (data) {
                        var data2 = rowSelection.rows().data();
                        for (var i = 0; i < data2.length; i++) {
                            if (data2[i].kodebarang == data[0].kodebarang) {
                                rowSelection.cell(i, 6).nodes().to$().find('input').prop('disabled', true);
                                rowSelection.cell(i, 6).nodes().to$().find('input').val("");
                            }
                        }
                        if (data.length > 0) {
                            var getcart = document.getElementById("cart").value;
                            var textbox = '<input type="number" class="txtBox" value="1" style="idth:70px;text-align:center">';
                            if (getcart.length == 0) {
                                $('#cart').val(data[0].kodebarang);
                                rowSelection2.row.add([
                                    data[0].kodebarang, data[0].namabarang, textbox, data[0].itemcode
                                ]).draw(false);
                            }
                            else {
                                if (getcart.indexOf(data[0].kodebarang) == -1) {
                                    $('#cart').val(getcart + ";" + data[0].kodebarang);
                                    rowSelection2.row.add([
                                        data[0].kodebarang, data[0].namabarang, textbox, data[0].itemcode
                                    ]).draw(false);
                                }
                            }
                        }
                    });
                }
                document.getElementById("txtBarcode").value = "";
            }
        });
    })
    $('input[type=number]').on('mousewheel', function (e) {
        $(e.target).blur();
    });
    $(function () {
        $("#datepicker1").datepicker({
            format: 'dd/mm/yyyy'
        });
    });
    $(function () {
        $("#datepicker2").datepicker({
            format: 'dd/mm/yyyy'
        });
    });
    function onchangeevent8()
    {
        rowSelection2.clear().draw();
        var getreference = document.getElementById("dropdowntipe8");
        var getvalue = getreference.options[getreference.selectedIndex].value;
        if (getvalue == '0') {
            document.getElementById("txtBarcode").disabled = true;
        }
        else {
            document.getElementById("txtBarcode").disabled = false;
            $.getJSON("@Url.Action("getItemFromStoreTR", "Transfer")?kodelokasi=" + getvalue, function (data) {
            rowSelection.destroy();
            rowSelection = $('#dttest').DataTable({
                data: data,
                columns: [
                    { "data": "kodebarang" },
                    { "data": "namabarang" },
                    { "data": "namakategori" },
                    { "data": "namaprodusen" },
                    { "data": "stock" },
                    { "data": "itemcode" }
                ],
                "columnDefs": [
                    { "targets": [3, 4], "searchable": false },
                    { "className": "hidden", "targets": [3] },
                    { "className": "dt-right", "targets": [4] },
                    { "className": "dt-center", "targets": [0, 5, 6] },
                    {
                        "targets": 6, render: function (data, type, row) {
                            return '<input class="txtBox" type="number" value="" style="width:70px;text-align:center;">';
                        }
                    }
                ],
                ordering: false,
            });
            //$('#dttest').on('click', 'tr', function () {
            //    if ($(this).hasClass('selected')) {
            //        $(this).removeClass('selected');
            //    }
            //    else {
            //        rowSelection.$('tr.selected').removeClass('selected');
            //        $(this).addClass('selected');
            //    }
            //});
            //for (var i = 0; i < data.length; i++) {
            //    rowSelection.row.add([
            //        data[i].kodebarang, data[i].namabarang, data[i].namakategori, data[i].namaprodusen, data[i].stock
            //    ]).draw(false);
            //}
        });
        }
    }
</script>
<script>
    $(document).ready(function () {

        $("#dttest2").on('input', '.txtBox', function () {
            var totalSumValue = 0;

            $("#dttest2 .txtBox").each(function () {
                var get_textbox_value = $(this).val();
                if ($.isNumeric(get_textbox_value)) {
                    totalSumValue += parseFloat(get_textbox_value);
                }
            });
            $("#totalSumValue").html(totalSumValue);
        });
    });
</script>
<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        width: 200px;
        height: 30px;
        padding: 0 5px;
    }
</style>
<div>
    <div>
        <div id="page-content" style="font-size:14px">
            <div class="col-sm-12">
                <div class="panel panel-bordered panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Transfer Request</h3>
                    </div>
                    <div class="mar-ver pad-btm" id="errormessage" hidden>
                        <h3 class="h4 mar-no">Qty Must Greater Than 0</h3>
                    </div>
                    @using (Html.BeginForm("AddTransferOut", "Transfer", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">Date</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.tanggal, new { @type = "text", @class = "form-control", @id = "datepicker1", @onchange = "onchangedatetime1()", @required = "required" })
                                </div>
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail">Notes</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.comment, new { @type = "text", @class = "form-control", @id = "txtcomment", @required = "required", @maxlength = "50" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail" style="text-align:right">Store</label>
                                <div class="col-sm-3">
                                    @{
                                        List<SelectListItem> listItems8 = new List<SelectListItem>();
                                        listItems8.Add(new SelectListItem
                                        {
                                            Text = "--SELECT STORE--",
                                            Value = "0"
                                        });
                                        foreach (var item in Model.tostore)
                                        {
                                            listItems8.Add(new SelectListItem
                                            {
                                                Text = item.kodelokasi + " - " + item.nama,
                                                Value = item.kodelokasi
                                            });
                                        }
                                    }
                                    @Html.DropDownListFor(model => model.kodeto, listItems8, new { @id = "dropdowntipe8", @onchange = "onchangeevent8()", @class = "form-control" })
                                </div>
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail">Type</label>
                                <div class="col-sm-3">
                                    @{
                                        List<SelectListItem> listItems9 = new List<SelectListItem>();
                                        foreach (var item in Model.type)
                                        {
                                            listItems9.Add(new SelectListItem
                                            {
                                                Text = item.typename,
                                                Value = item.typename
                                            });
                                        }
                                    }
                                    @Html.DropDownListFor(model => model.tipe, listItems9, new { @id = "dropdowntipe4", @onchange = "onchangeevent4()", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">Required Date</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.reqtanggal, new { @type = "text", @class = "form-control", @id = "datepicker2", @onchange = "onchangedatetime2()", @required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail" hidden>Cart</label>
                                <div class="col-sm-3" hidden>
                                    @Html.TextBox("cart", "", new { @type = "text", @class = "form-control", @disabled = "disabled" })
                                </div>
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail" id="lbltostore" hidden>To Store</label>
                                <div class="col-sm-3" id="txttostore" hidden>
                                    @Html.TextBoxFor(model => model.lockdate, new { @type = "text", @id = "lockdate", @class = "form-control", @required = "required", @maxlength = "50", @disabled = "true" })
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-primary fileinput-button dz-clickable" data-toggle="modal" data-target="#myModal" id="btnAdd">
                                        <i class="fa fa-plus"></i>
                                        <span>Add Item</span>
                                    </button>
                                    <button type="button" class="btn btn-primary fileinput-button dz-clickable" id="btndeletecart">
                                        <span>Delete</span>
                                    </button>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" id="txtBarcode" class="form-control" autofocus disabled />
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <table id="dttest2" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th width="10px" style="text-align:center">Code</th>
                                        <th width="10px" style="text-align:center">Name</th>
                                        <th width="10px" style="text-align:center">Qty</th>
                                        <th width="10px" style="text-align:center">Barcode</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <th width="10px" style="text-align:center"></th>
                                        <th width="10px" style="text-align:center">Total</th>
                                        <th width="10px" style="text-align:center" id="totalSumValue"></th>
                                        <th width="10px" style="text-align:center"></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="panel-footer text-right">
                            <div class="box-inline">
                                <button type="button" id="btncancel" class="btn btn-danger" onclick="onclickcancel()"> Cancel</button>
                                <button id="btnSaveItem" class="btn btn-success" type="button" name="submitorder">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Choose Item</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="dttest" class="display DataTable" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th width="10%" style="text-align:center">Code</th>
                                <th width="25%" style="text-align:center">Name</th>
                                <th width="10%" style="text-align:center">Category</th>
                                <th width="10px" style="text-align:center">Produsen</th>
                                <th width="5%" style="text-align:center">Stock</th>
                                <th width="10%" style="text-align:center">Barcode</th>
                                <th width="5%" style="text-align:center">Qty</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnprint" data-dismiss="modal">Add</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->