﻿@model POSVITWeb.Models.TransferInDetailClass
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Asset/js/jquery.min.js"></script>
<script src="~/Asset/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-3.1.1.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-1-8-23-ui.min.js" type="text/javascript"></script>
<script src="~/Asset/js/bootstrap-datepicker.js" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Asset/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/buttons.datatable.min.css")" rel="stylesheet" type="text/css" />
<script src="~/Asset/js/jquery.datatable.min.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Asset/js/datatable.buttons.min.js"></script>
<script src="~/Asset/js/buttons.flash.min.js"></script>
<script src="~/Asset/js/buttons.html5.min.js"></script>
<script src="~/Asset/js/buttons.print.min.js"></script>
<script src="~/Asset/js/jszip.min.js"></script>
<script src="~/Asset/js/pdfmake.min.js"></script>
<script src="~/Asset/js/vfs_font.js"></script>

<script src="~/Asset/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<style>
    pre{
        border:none;
    }
    td{
        padding:2px;
    }
    td.labell {
        width: 150px;
    }
    td.colon {
        width: 20px;
    }
    td.content {
        width: 450px;
    }
    td.labelFooter {
        width: 40%;
        border-left: 1px solid black;
        padding-left: 5px;
    }
    .border {
        border: 1px solid black;
    }
</style>
<script>
    var rowSelection;
    var rowSelection2;
    var nofaktur = '';
    $(document).ready(function () {
        //var rowSelection = $('#dttest').DataTable({
        //    "ajax": {
        //        "url": "../Transfer/getItemFromStore/",
        //        "dataSrc": ""
        //    },
        //    "columns": [{
        //        "data": "kodebarang"
        //    }, {
        //        "data": "namabarang"
        //    }, {
        //        "data": "namakategori"
        //    }, {
        //        "data": "namaprodusen"
        //    }, {
        //        "data": "stock"
        //    }]
        //});
        userid = document.getElementById("userid").value;
        createtime = document.getElementById("modidate").value;
        nofaktur = document.getElementById("txtnofaktur").value;
        fromstorename = document.getElementById("txtfromstore").value;
        tostorename = document.getElementById("txttostore").value;
        alamatto = document.getElementById("alamatto").value || '-';
        alamatfrom = document.getElementById("alamatfrom").value || '-';
        alamatto2 = document.getElementById("alamatto2").value || '-';
        alamatfrom2 = document.getElementById("alamatfrom2").value || '-';
        tipe = document.getElementById("txttipe").value;
        totalqty = document.getElementById("totalqty").value;
        reference = document.getElementById("txtreference").value;
        comment = document.getElementById("txtcomment").value || '  -  ';
        tanggal = document.getElementById("datepicker1").value;
        var header =
            '<h3 style="text-align:center"> TRANSFER STOCK IN </h3>' +
            '<h4 style="text-align:center">' + tostorename + '</h4>' +
            '<div style="width:400px;margin:auto;"><h5 style="text-align:center">' + alamatto + alamatto2 + '</h5></div>' +
            '<table>' +
            '<tr>' +
            '<td class="labell"> Penerima </td>' +
            '<td class="colon"> : </td>' +
            '<td class="content" rowspan="3" style=" vertical-align: top">' + fromstorename + '<br>' + alamatfrom + alamatfrom2 + '</td>' +
            '<td class="labell"> No. Doc </td>' +
            '<td class="colon"> : </td>' +
            '<td class="content">' + nofaktur + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td class="labell"></td>' +
            '<td class="colon"></td>' +
            '<td class="labell"> Tanggal </td>' +
            '<td class="colon"> : </td>' +
            '<td class="content">' + tanggal + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td class="labell"></td>' +
            '<td class="colon"></td>' +
            '<td class="labell"></td>' +
            '<td class="colon"></td>' +
            '<td class="content"></td>' +
            '</tr>' +
            '<tr>' +
            '<td class="labell">No. Ref</td>' +
            '<td class="colon">:</td>' +
            '<td class="content">' + reference + '</td>' +
            '<td class="labell"> Driver </td>' +
            '<td class="colon"> : </td>' +
            '<td class="content">_____________</td>' +
            '</tr>' +
            '<td class="labell"> Tipe Request </td>' +
            '<td class="colon"> : </td>' +
            '<td class="content">' + tipe + '</td>' +
            '<td class="labell"> No. Polisi </td>' +
            '<td class="colon"> : </td>' +
            '<td class="content">_____________</td>' +
            '</tr>' +
            '</table>';
        var footer =
            '<table style="width:100%; border: 1px solid black;">' +
            '<tr>' +
            '<td class="labelFooter" style="padding-top:5px; border: 1px solid black;"></td>' +
            '<td class="labelFooter" style="text-align:center;padding-top:5px; border: 1px solid black;"><b>Total Qty :</b>' + totalqty + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td rowspan="6" style="width:60%; vertical-align: top; padding:5px;"> <b>Keterangan: </b><br>' + comment + ' </td>' +
            '</tr>' +
            '<tr>' +
            '<td class="labelFooter border" style="font-weight: 700;text-align:center;"> Status </td>' +
            '</tr>' +
            '<tr>' +
            '<td class="labelFooter"> (&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp) Kondisi Baik dan Komplit </td>' +
            '</tr>' +
            '<tr>' +
            '<td class="labelFooter"> (&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp) Kondisi Reject </td>' +
            '</tr>' +
            '<tr>' +
            '<td class="labelFooter"> (&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp) Kondisi Tidak Komplit </td>' +
            '</tr>' +
            '<tr>' +
            '<td class="labelFooter" style="padding-top:5px;"><i> * Beri Tanda Centang </i></td>' +
            '</tr>' +
            '<tr>' +
            '<td class="labelFooter" style="padding-top:5px; border: 1px solid black;"><b>Created Time:</b>&nbsp' + createtime + '</td>' +
            '<td class="labelFooter" style="padding-top:5px; border: 1px solid black;"><b>Created By:</b>&nbsp' + userid +'</td>' +
            '</tr>' +
            '</table>';
        var footer_again =
            '<table style="width:100%;text-align:center;margin-top:10px;">' +
            '<tr>' +
            '<td style="vertical-align: top; padding:5px;"> Penerima, </td>' +
            '<td style="vertical-align: top; padding:5px;"> Security, </td>' +
            '<td style="vertical-align: top; padding:5px;"> Driver, </td>' +
            '<td style="vertical-align: top; padding:5px;"> Leader, </td>' +
            '<td style="vertical-align: top; padding:5px;"> Distribusi, </td>' +
            '</tr>' +
            '<tr style="height:100px">' +
            '<td style="vertical-align: bottom; padding:5px;"><pre>(          )</pre></td>' +
            '<td style="vertical-align: bottom; padding:5px;"><pre>(          )</pre></td>' +
            '<td style="vertical-align: bottom; padding:5px;"><pre>(          )</pre></td>' +
            '<td style="vertical-align: bottom; padding:5px;"><pre>(          )</pre></td>' +
            '<td style="vertical-align: bottom; padding:5px;"><pre>(          )</pre></td>' +
            '</tr>' +
            '</table>';
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = (day) + "/" + (month) + "/" + now.getFullYear();
        var counter = 1;
        rowSelection = $('#dttest').DataTable();
        rowSelection2 = $('#dttest2').DataTable({
            "responsive": true,
            "language": {
                "paginate": {
                    "previous": '<i class="demo-psi-arrow-left"></i>',
                    "next": '<i class="demo-psi-arrow-right"></i>'
                }
            },
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    title: '',
                    customize: function (win) {
                        $(win.document.body).addClass('display').css('font-size', '14px').css('font-weight', '600').prepend(header);
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .removeClass('table-bordered')
                            .css('font-size', '14px');
                        $(win.document.body).find('tr:nth-child(odd) td').each(function (index) {
                            $(this).css('background-color', '#D0D0D0');
                        });
                        $(win.document.body).addClass('display').css('font-size', '14px').css('font-weight', '600').append(footer);
                        $(win.document.body).addClass('display').css('font-size', '14px').css('font-weight', '600').append(footer_again);
                    }
                }
            ]
        });
        $('#dttest2').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                rowSelection2.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');

            }
        });
        $('#demo-dt-delete-btn').appendTo($("div.toolbar"));
        $('#dt-add-btn').appendTo($("div.toolbar"));
        $('#demo-dt-delete-btn').click(function () {
            var data = rowSelection2.rows('.selected').data();
            var skuid = data[0][0];
            window.location.href = "@Url.Action("DeleteSite","Home")?siteid=" + skuid;
        });
        $('#dttest').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                rowSelection.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
        $('#btnprint').click(function () {
            var textbox = '<input type="number" class="txtBox" value="1" style="text-align:center">';
            var data = rowSelection.rows('.selected').data();
            var getcart = document.getElementById("cart").value;
            if (getcart.length == 0) {
                $('#cart').val(data[0].kodebarang);
                rowSelection2.row.add([
                    data[0].kodebarang, data[0].namabarang, textbox
                ]).draw(false);
                counter++;
            }
            else {
                if (getcart.indexOf(data[0][0]) == -1) {
                    $('#cart').val(getcart + ";" + data[0].kodebarang);
                    rowSelection2.row.add([
                        data[0].kodebarang, data[0].namabarang, textbox
                    ]).draw(false);
                    counter++;
                }
            }
        });
        $('#btndeletecart').click(function () {
            rowSelection2.row('.selected').remove().draw(false);
        });
        $('#btnSaveItem').click(function () {
            var getdate = document.getElementById("datepicker1").value;
            var getcomment = document.getElementById("txtcomment").value;
            var dropdown = document.getElementById("dropdowntipe8");
            var gettostore = dropdown.options[dropdown.selectedIndex].value;
            var dropdown2 = document.getElementById("dropdowntipe4");
            var gettype = dropdown2.options[dropdown2.selectedIndex].value;
            var data = rowSelection2.rows().data();
            var cart = '';
            for (var i = 0; i < data.length; i++) {
                if (i == 0) {
                    cart = data[i][0] + '$' + rowSelection2.cell(i, 2).nodes().to$().find('input').val();
                }
                else {
                    cart = cart + ';' + data[i][0] + '$' + rowSelection2.cell(i, 2).nodes().to$().find('input').val();
                }
                //alert(rowSelection2.cell(i, 2).nodes().to$().find('input').val());
            }
            window.location.href = "@Url.Action("SubmitTransferRequest","Transfer")?tanggal=" + getdate + "&keterangan=" +
                getcomment + "&tostore=" + gettostore + "&type=" + gettype + "&cart=" + cart;
        });
        $('#btncancel').click(function () {
             window.location.href = "@Url.Action("TransferIn","Transfer")";
        });
    })
    $(function () {
        $("#datepicker1").datepicker({
            format: 'dd/mm/yyyy'
        });
    });
    function onchangeevent8()
    {
        rowSelection2.clear().draw();
        var getreference = document.getElementById("dropdowntipe8");
        var getvalue = getreference.options[getreference.selectedIndex].value;
        $.getJSON("@Url.Action("getItemFromStoreTR", "Transfer")?kodelokasi=" + getvalue, function (data) {
            rowSelection.destroy();
            rowSelection = $('#dttest').DataTable({
                data: data,
                columns: [
                    { "data": "kodebarang" },
                    { "data": "namabarang" },
                    { "data": "namakategori" },
                    { "data": "namaprodusen" },
                    { "data": "stock" }
                ]
            });
            //for (var i = 0; i < data.length; i++) {
            //    rowSelection.row.add([
            //        data[i].kodebarang, data[i].namabarang, data[i].namakategori, data[i].namaprodusen, data[i].stock
            //    ]).draw(false);
            //}
        });
    }

    function onclickprint() {
        window.print();
    }
</script>
<div>
    <div>
        <div id="page-content" style="font-size:14px">
            <div class="col-sm-12">
                <div class="panel panel-bordered panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Details Transfer In</h3>
                    </div>
                    @using (Html.BeginForm("AddTransferOut", "Transfer", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="demo-hor-inputemail">No Faktur</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.nofaktur, new { @type = "text", @class = "form-control", @id = "txtnofaktur", @onchange = "onchangedatetime1()", @required = "required", @disabled = "true" })
                            </div>
                            <label class="col-sm-1 control-label" for="demo-hor-inputemail">Type</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.tipe, new { @type = "text", @class = "form-control", @id = "txttipe", @required = "required", @maxlength = "50", @disabled = "true" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="demo-hor-inputemail">Date</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.tanggal, new { @type = "text", @class = "form-control", @id = "datepicker1", @onchange = "onchangedatetime1()", @required = "required", @disabled = "true" })
                            </div>
                            <label class="col-sm-1 control-label" for="demo-hor-inputemail">Notes</label>
                            <div class="col-sm-3">
                                @Html.TextAreaFor(model => model.comment, new { @type = "text", @class = "form-control", @id = "txtcomment", @required = "required", @maxlength = "150", @disabled = "true" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="demo-hor-inputemail" style="text-align:right">Transfer From</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.fromstore, new { @type = "text", @class = "form-control", @id = "txtfromstore", @required = "required", @maxlength = "50", @disabled = "true" })
                            </div>
                            <label class="col-sm-1 control-label" for="demo-hor-inputemail">Transfer To</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.tostorename, new { @type = "text", @class = "form-control", @id = "txttostore", @required = "required", @maxlength = "50", @disabled = "true" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="demo-hor-inputemail">No TSO</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.nofakturtr, new { @type = "text", @class = "form-control", @id = "txtreference", @required = "required", @maxlength = "50", @disabled = "true" })
                            </div>
                            <label class="col-sm-1 control-label" for="demo-hor-inputemail">Reff TR</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.nofakturtrreff, new { @type = "text", @class = "form-control", @id = "txttrreff", @required = "required", @maxlength = "50", @disabled = "true" })
                            </div>
                        </div>
                        <div class="form-group">
                            
                        </div>
                        <div class="form-group" style="display:none;">
                            <label class="col-sm-3 control-label" for="demo-hor-inputemail">Modidate</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.createtime, new { @type = "text", @class = "form-control", @id = "modidate", @required = "required", @maxlength = "50", @disabled = "true" })
                            </div>
                            <label class="col-sm-1 control-label" for="demo-hor-inputemail">User</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.userid, new { @type = "text", @class = "form-control", @id = "userid", @required = "required", @maxlength = "50", @disabled = "true" })
                            </div>
                        </div>
                        <div class="form-group" style="display:none;">
                            <label class="col-sm-3 control-label" for="demo-hor-inputemail">Total Qty</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.totalqty, new { @type = "text", @class = "form-control", @id = "totalqty", @required = "required", @maxlength = "50", @disabled = "true" })
                            </div>
                            <label class="col-sm-1 control-label" for="demo-hor-inputemail">Total item</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.totalitem, new { @type = "text", @class = "form-control", @id = "totalqty", @required = "required", @maxlength = "50", @disabled = "true" })
                            </div>
                        </div>
                        <div class="form-group" style="display:none">
                            <label class="col-sm-3 control-label" for="demo-hor-inputemail">From Store Address 1</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.alamatfrom, new { @type = "text", @class = "form-control", @id = "alamatfrom", @required = "required", @maxlength = "50", @disabled = "true" })
                            </div>
                            <label class="col-sm-1 control-label" for="demo-hor-inputemail">To Store Address 1</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.alamatto, new { @type = "text", @class = "form-control", @id = "alamatto", @required = "required", @maxlength = "50", @disabled = "true" })
                            </div>
                        </div>
                        <div class="form-group" style="display:none">
                            <label class="col-sm-3 control-label" for="demo-hor-inputemail">From Store Address 2</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.alamatfrom2, new { @type = "text", @class = "form-control", @id = "alamatfrom2", @required = "required", @maxlength = "50", @disabled = "true" })
                            </div>
                            <label class="col-sm-1 control-label" for="demo-hor-inputemail">To Store Address 2</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.alamatto2, new { @type = "text", @class = "form-control", @id = "alamatto2", @required = "required", @maxlength = "50", @disabled = "true" })
                            </div>
                        </div>
                        <table id="dttest2" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="10px" style="text-align:center">Code</th>
                                    <th width="10px" style="text-align:center">Name</th>
                                    <th width="10px" style="text-align:center">Qty</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.carts)
                                {
                                    <tr>
                                        <td style="text-align:center">@item.itemcode</td>
                                        <td>@item.itemname</td>
                                        <td style="text-align:center">@item.itemqty</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Total</th>
                                    <th style="text-align:center;">
                                        @Html.ValueFor(model => model.totalqty)
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                        <div class="panel-footer text-right">
                            <div class="box-inline">
                                <button type="button" id="btncancel" class="btn btn-danger" onclick="onclickcancel()"> Back</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>