﻿@model IEnumerable<POSVITWeb.Models.TransferOutClass>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Asset/js/jquery.min.js"></script>
<script src="~/Asset/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script>
    $(document).ready(function () {
        var rowSelection = $('#dttest').DataTable({
            "responsive": true,
            "language": {
                "paginate": {
                    "previous": '<i class="demo-psi-arrow-left"></i>',
                    "next": '<i class="demo-psi-arrow-right"></i>'
                }
            },
            "order": [[1, "desc"]]
        });
        $('#dttest').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                rowSelection.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');

            }
        });
        $('#demo-dt-delete-btn').appendTo($("div.toolbar"));
        $('#dt-add-btn').appendTo($("div.toolbar"));
        $('#demo-dt-delete-btn').click(function () {
            var data = rowSelection.rows('.selected').data();
            var skuid = data[0][0];
            window.location.href = "@Url.Action("DeleteSite","Home")?siteid=" + skuid;
        });
    })
    function popupshowup(eventid)
    {
        var cek = confirm("Delete This Event?");
        if (cek == true) {
            window.location.href = "@Url.Action("DeleteEvent","Home")?eventid=" + eventid;
        }
        else {

        }
    }
</script>
<div>
    <div>
        <div id="page-content" style="font-size:14px">
            <div class="col-sm-12">
                <div class="panel panel-bordered panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">List of Transfer In</h3>
                    </div>
                    @if (ViewBag.Message != null)
                    {
                        <div class="mar-ver pad-btm">
                            <h3 class="h4 mar-no">@ViewBag.Message</h3>
                        </div>
                    }
                    <div class="panel-body">
                        <a href="@Url.Action("AddTransferIn", "Transfer")" class="btn btn-primary fileinput-button dz-clickable" id="dt-add-btn">
                            <i class="fa fa-plus"></i>
                            <span> Create Transfer In</span>
                        </a>
                        <div class="form-group"></div>
                        <table id="dttest" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="10px" style="text-align:center">Doc No.</th>
                                    <th width="10px" style="text-align:center" hidden>No Faktur</th>
                                    <th width="10px" style="text-align:center">Date</th>
                                    <th width="10px" style="text-align:center">Ref. No.</th>
                                    @*<th width="10px" style="text-align:center">Date Ref</th>*@
                                    <th width="10px" style="text-align:center">Notes</th>
                                    @*<th width="10px" style="text-align:center">From Store</th>*@
                                    <th width="10px" style="text-align:center">From</th>
                                    <th width="10px" style="text-align:center">Total Qty</th>
                                    <th width="10px" style="text-align:center">Created By</th>
                                    <th width="10px" style="text-align:center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td style="text-align:center">@item.nofaktur</td>
                                    <td style="text-align:center" hidden>@item.nourut</td>
                                    <td style="text-align:center">@item.modidate</td>
                                    <td style="text-align:center">@item.nofakturtr</td>
                                    @*<td style="text-align:center">@item.tanggaltr</td>*@
                                    <td>@item.keterangan</td>
                                    <td style="text-align:center">@item.namaawal</td>
                                    <td style="text-align:center">@item.totalitemdetail</td>
                                    <td style="text-align:center">@item.usernama</td>
                                    <td style="text-align:center">
                                        <a class="btn btn-xs btn-primary add-tooltip" data-toggle="tooltip" href="~/Transfer/DetailsTransferIn?nofaktur=@item.nofaktur" data-original-title="Transfer In" data-container="body"><i class="fa fa-edit"></i></a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>