﻿@model POSVITWeb.Models.GoodReceiptPODetailClass
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Asset/js/jquery.min.js"></script>
<script src="~/Asset/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-3.1.1.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-1-8-23-ui.min.js" type="text/javascript"></script>
<script src="~/Asset/js/bootstrap-datepicker.js" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Asset/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/buttons.datatable.min.css")" rel="stylesheet" type="text/css" />
<script src="~/Asset/js/jquery.datatable.min.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Asset/js/datatable.buttons.min.js"></script>
<script src="~/Asset/js/buttons.flash.min.js"></script>
<script src="~/Asset/js/buttons.html5.min.js"></script>
<script src="~/Asset/js/buttons.print.min.js"></script>
<script src="~/Asset/js/jszip.min.js"></script>
<script src="~/Asset/js/pdfmake.min.js"></script>
<script src="~/Asset/js/vfs_font.js"></script>

<script src="~/Asset/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>

<script>
    var rowSelection2;
    var rowSelection;
    var rowSelection3;
    var rowSelection4;
    var lockdate = '';
    $(document).ready(function () {
        //var rowSelection = $('#dttest').DataTable({
        //    "ajax": {
        //        "url": "../Transfer/getItemFromStore/",
        //        "dataSrc": ""
        //    },
        //    "columns": [{
        //        "data": "kodebarang"
        //    }, {
        //        "data": "namabarang"
        //    }, {
        //        "data": "namakategori"
        //    }, {
        //        "data": "namaprodusen"
        //    }, {
        //        "data": "stock"
        //    }]
        //});
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = (day) + "-" + (month) + "-" + now.getFullYear();
        lockdate = document.getElementById("lockdate").value;
        $('#datepicker1').val(today);
        if (lockdate == 'f') {
            document.getElementById("datepicker1").disabled = false;
        }
        else {
            document.getElementById("datepicker1").disabled = true;
        }
        var counter = 1;
        rowSelection = $('#dttest').DataTable({
            "columnDefs": [
                { "className": "dt-center", "targets": "_all" }
            ]
        });
        rowSelection2 = $('#dttest2').DataTable({
            "responsive": true,
            "language": {
                "paginate": {
                    "previous": '<i class="demo-psi-arrow-left"></i>',
                    "next": '<i class="demo-psi-arrow-right"></i>'
                }
            },
            "columnDefs": [
                { "className": "dt-center", "targets": [0, 3, 4] },
                { "className": "dt-right", "targets": [2] },
                { "className": "hidden", "targets": [6] }
            ],
            "ordering": false
        });
        $('#dttest tbody').on('click', 'button', function () {
            var name = $('td', this).eq().text();
            var data = rowSelection.row($(this).parents('tr')).data();
            rowSelection.row($(this).parents('tr')).remove().draw(false);
            var datas = rowSelection.rows().data();
            if (datas.length > 0) {
                var polist = "";
                for (var i = 0; i < datas.length; i++) {
                    if (i == 0) {
                        polist = datas[i][0];
                    }
                    else {
                        polist = polist + ";" + datas[i][0];
                    }
                }
                var textbox = '<input type="number" class="txtBox" value="1" style="text-align:center">';
                rowSelection2.clear().draw();
                $.getJSON("@Url.Action("getPODetailFromPOList", "Stok")?polist=" + polist, function (data) {
                    for (var i = 0; i < data.length; i++) {
                        rowSelection2.row.add([
                            data[i].kodebarang, data[i].namabarang, data[i].order, data[i].open,
                            '<input type="number" class="txtBox" value=' + data[i].order + ' style="text-align:center">',
                            data[i].satuan
                        ]).draw(false);
                    }
                });
            }
            else {
                rowSelection2.clear().draw();
                $.getJSON("@Url.Action("getPOWithoutVendor", "Stok")", function (data) {
                    rowSelection4.destroy();
                    $('#txtvendorname').val("");
                    $('#txtvendorcode').val("");
                    rowSelection4 = $('#dttest4').DataTable({
                        data: data,
                        columns: [
                            { "data": "pocode" },
                            { "data": "itemcode" },
                            { "data": "itemname" },
                            { "data": "qty" },
                            { "data": "openqty" },
                            { "data": "vendorcode" },
                            { "data": "vendorname" },
                            { "data": "docdate" }
                        ],
                        "columnDefs": [
                            { "className": "hidden", "targets": [5] },
                            { "className": "dt-center", "targets": [0, 1, 3, 4] }
                        ]
                    });
                });
            }
        });
        $('#dttest2 tbody').on('click', 'button', function () {
            var name = $('td', this).eq().text();
            var data = rowSelection2.row($(this).parents('tr')).data();
            rowSelection2.row($(this).parents('tr')).remove().draw(false);
            var datas = rowSelection.rows().data();
            var dataes = rowSelection2.rows().data();
            var podeleted = data[5];
            var button = '<button type="button" id="btnremove" class="btn btn-danger" style="margin:auto;display:block"> Remove</button>';
            rowSelection.clear().draw();
            var checkisone = 0;
            for (var i = 0; i < datas.length; i++) {
                for (var j = 0; j < dataes.length; j++) {
                    if (dataes[j][5] == datas[i][0]) {
                        checkisone = checkisone + 1;
                    }
                }
                if (datas[i][0] != podeleted || checkisone > 0) {
                    rowSelection.row.add([
                        datas[i][0], datas[i][1], button
                    ]).draw(false);
                }
                checkisone = 0;
            }
            var currdtpolist = rowSelection.rows().data();
            if (currdtpolist.length == 0) {
                 $.getJSON("@Url.Action("getPOWithoutVendor", "Stok")", function (data) {
                    rowSelection4.destroy();
                    $('#txtvendorname').val("");
                    $('#txtvendorcode').val("");
                    rowSelection4 = $('#dttest4').DataTable({
                        data: data,
                        columns: [
                            { "data": "pocode" },
                            { "data": "itemcode" },
                            { "data": "itemname" },
                            { "data": "qty" },
                            { "data": "openqty" },
                            { "data": "vendorcode" },
                            { "data": "vendorname" },
                            { "data": "docdate" }
                        ],
                        "columnDefs": [
                            { "className": "hidden", "targets": [5] },
                            { "className": "dt-center", "targets": [0, 1, 3, 4] }
                        ]
                    });
                });
            }
        });
        $('#demo-dt-delete-btn').appendTo($("div.toolbar"));
        $('#dt-add-btn').appendTo($("div.toolbar"));
        $('#demo-dt-delete-btn').click(function () {
            var data = rowSelection2.rows('.selected').data();
            var skuid = data[0][0];
            window.location.href = "@Url.Action("DeleteSite","Home")?siteid=" + skuid;
        });
        $('#dttest').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                rowSelection.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
        $('#dttest2').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                rowSelection2.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
        $('#btnprint').click(function () {
            var textbox = '<input type="number" class="txtBox" value="1" style="text-align:center">';
            var data = rowSelection.rows('.selected').data();
            var getcart = document.getElementById("cart").value;
            if (getcart.length == 0) {
                $('#cart').val(data[0][0]);
                rowSelection2.row.add([
                    data[0][0], data[0][1], textbox
                ]).draw(false);
                counter++;
            }
            else {
                if (getcart.indexOf(data[0][0]) == -1) {
                    $('#cart').val(getcart + ";" + data[0][0]);
                    rowSelection2.row.add([
                        data[0][0], data[0][1], textbox
                    ]).draw(false);
                    counter++;
                }
            }
        });
        $('#btnSaveItem').click(function () {
            document.getElementById("btnSaveItem").disabled = true;
            var getdate = document.getElementById("datepicker1").value;
            var getcomment = document.getElementById("txtcomment").value;
            var getvendorcode = document.getElementById("txtvendorcode").value;
            var data = rowSelection2.rows().data();
            var cart = '';
            var checkqty = 0;
            for (var i = 0; i < data.length; i++) {
                if (i == 0) {
                    cart = data[i][0] + '$' + rowSelection2.cell(i, 4).nodes().to$().find('input').val() + "$" + data[i][5] + "$" + data[i][6];
                }
                else {
                    cart = cart + ';' + data[i][0] + '$' + rowSelection2.cell(i, 4).nodes().to$().find('input').val() + "$" + data[i][5] + "$" + data[i][6];
                }
                if (parseInt(rowSelection2.cell(i, 4).nodes().to$().find('input').val()) > parseInt(data[i][3])
                    || parseInt(rowSelection2.cell(i, 4).nodes().to$().find('input').val()) == 0
                    || rowSelection2.cell(i, 4).nodes().to$().find('input').val().length == 0
                ) {
                    checkqty = checkqty + 1;
                }
                //alert(rowSelection2.cell(i, 3).nodes().to$().find('input').val() + "   " + data[i][2]);
            }
            if (checkqty == 0 && data.length > 0) {
                @*window.location.href = "@Url.Action("SubmitGRPO","Stok")?tanggal=" + getdate + "&keterangan=" +
                    getcomment + "&vendor=" + getvendorcode + "&cart=" + cart;*@
                $.ajax({
                    url: 'SubmitGRPO',
                    type: 'POST',
                    contentType: 'application/json;',
                    data: JSON.stringify({ tanggal: getdate, keterangan: getcomment, vendor: getvendorcode, cart: cart }),
                    success: function (valid) {
                        if (valid.valid) {
                            window.location.href = "@Url.Action("GRPO","Stok")?message=" + valid.pesansingkat;
                        } else {
                            document.getElementById("btnSaveItem").disabled = false;
                        }
                    }
                });
            }
            else {
                document.getElementById("btnSaveItem").disabled = false;
                $("#errormessage2").show();
            }
        });
        $('#btncancel').click(function () {
             window.location.href = "@Url.Action("GRPO","Stok")";
        });
        $('#btnaddreffpo').click(function () {
            $("#btnaddreffpo").attr("disabled", true);
            var textbox = '<input type="number" class="txtBox" value="1" style="text-align:center">';
            var button = '<button type="button" id="btnremove" class="btn btn-danger" style="margin:auto;display:block"> Remove</button>';
            var getreference = document.getElementById("dropdowntipe6");
            var getvalue = getreference.options[getreference.selectedIndex].value;
            var getcart = document.getElementById("cart").value;
            var datas = rowSelection.rows().data();
            $.getJSON("@Url.Action("getPODetailFromPO", "Stok")?pono=" + getvalue, function (data) {
                $("#btnaddreffpo").attr("disabled", false);
                if (datas.length == 0) {
                    rowSelection.row.add([
                        data.nopo, data.itempo, button
                    ]).draw(false);
                    for (var i = 0; i < data.details.length; i++) {
                        rowSelection2.row.add([
                            data.details[i].kodebarang, data.details[i].namabarang, data.details[i].order, data.details[i].open,
                            '<input type="number" class="txtBox" value=' + data.details[i].open + ' style="text-align:center">',
                            data.details[i].satuan
                        ]).draw(false);
                    }
                }
                else {
                    var cart = "";
                    for (var j = 0; j < datas.length; j++) {
                        if (j == 0) {
                            cart = datas[j][0];
                        }
                        else {
                            cart = cart + ";" + datas[j][0];
                        }
                    }
                    if (cart.indexOf(getvalue) == -1) {
                        rowSelection.row.add([
                            data.nopo, data.itempo, button
                        ]).draw(false);
                        for (var i = 0; i < data.details.length; i++) {
                            rowSelection2.row.add([
                                data.details[i].kodebarang, data.details[i].namabarang, data.details[i].order, data.details[i].open,
                                '<input type="number" class="txtBox" value=' + data.details[i].open + ' style="text-align:center">',
                                data.details[i].satuan
                            ]).draw(false);
                        }
                    }
                }
            });
        });
        $('#btnchoosepo').click(function () {
            var datapo = rowSelection4.rows('.selected').data();
            $('#txtreffpo').val(datapo[0].pocode);
            $('#txtvendorname').val(datapo[0].vendorname);
            $('#txtvendorcode').val(datapo[0].vendorcode);
            var textbox = '<input type="number" class="txtBox" value="1" style="text-align:center">';
            var button = '<button type="button" id="btnremove" class="btn btn-danger" style="margin:auto;display:block"> Remove</button>';
            var getcart = document.getElementById("cart").value;
            var datas = rowSelection.rows().data();
            var getvalue = document.getElementById("txtreffpo").value;
            $.getJSON("@Url.Action("getPODetailFromPO", "Stok")?pono=" + getvalue, function (data) {
                if (datas.length == 0) {
                    rowSelection.row.add([
                        data.nopo, data.itempo
                    ]).draw(false);
                    for (var i = 0; i < data.details.length; i++) {
                        rowSelection2.row.add([
                            data.details[i].kodebarang, data.details[i].namabarang, data.details[i].order, data.details[i].open,
                            '<input type="number" class="txtBox" value=' + data.details[i].open + ' style="text-align:center">',
                            data.details[i].satuan, data.details[i].lineNum
                        ]).draw(false);
                    }
                }
                else {
                    var cart = "";
                    for (var j = 0; j < datas.length; j++) {
                        if (j == 0) {
                            cart = datas[j][0];
                        }
                        else {
                            cart = cart + ";" + datas[j][0];
                        }
                    }
                    if (cart.indexOf(getvalue) == -1) {
                        rowSelection.row.add([
                            data.nopo, data.itempo, button
                        ]).draw(false);
                        for (var i = 0; i < data.details.length; i++) {
                            rowSelection2.row.add([
                                data.details[i].kodebarang, data.details[i].namabarang, data.details[i].order, data.details[i].open,
                                '<input type="number" class="txtBox" value=' + data.details[i].open + ' style="text-align:center">',
                                data.details[i].satuan, data.details[i].lineNum
                            ]).draw(false);
                        }
                    }
                }
            });
            var getvendorcode = document.getElementById("txtvendorcode").value;
            $.getJSON("@Url.Action("getPOWithVendor", "Stok")?vendorcode=" + getvendorcode, function (data) {
                rowSelection4.destroy();
                rowSelection4 = $('#dttest4').DataTable({
                    data: data,
                    columns: [
                        { "data": "pocode" },
                        { "data": "itemcode" },
                        { "data": "itemname" },
                        { "data": "qty" },
                        { "data": "openqty" },
                        { "data": "vendorcode" },
                        { "data": "vendorname" },
                        { "data": "docdate" }
                    ],
                    "columnDefs": [
                        { "className": "hidden", "targets": [5] },
                        { "className": "dt-center", "targets": [0, 1, 3, 4] }
                    ]
                });

            });
        });
        $('#btnchoose').click(function () {
            var data = rowSelection3.rows('.selected').data();
            $('#txtvendorcode').val(data[0].vendorcode);
            rowSelection.clear().draw();
            rowSelection2.clear().draw();
            var getvendorcode = document.getElementById("txtvendorcode").value;
            if (getvendorcode.length == 0) {
                document.getElementById("dropdowntipe6").disabled = true;
                document.getElementById("btnaddreffpo").disabled = true;
            }
            else {
                document.getElementById("dropdowntipe6").disabled = false;
                document.getElementById("btnaddreffpo").disabled = false;
                document.getElementById("dropdowntipe6").options.length = 0;
                var dropdown2 = document.getElementById("dropdowntipe6");
                $.getJSON("@Url.Action("getPOFromVendor", "Stok")?vendorcode=" + getvendorcode, function (data) {
                    for (var i = 0; i < data.length; i++)
                    {
                        var option = document.createElement('option');
                        option.text = data[i].nopo;
                        option.value = data[i].nopo;
                        dropdown2.add(option, 0);
                    }
                });
            }
        });
        $('#btndeletecart').click(function () {
            var button = '<button type="button" id="btnremove" class="btn btn-danger" style="margin:auto;display:block"> Remove</button>';
            var data2 = rowSelection.row('.selected').data();
            rowSelection.row('.selected').remove().draw(false);
            var name = $('td', this).eq().text();
            var data = rowSelection.row($(this).parents('tr')).data();
            rowSelection.row($(this).parents('tr')).remove().draw(false);
            var datas = rowSelection.rows().data();
            if (datas.length > 0) {
                var polist = "";
                for (var i = 0; i < datas.length; i++) {
                    if (i == 0) {
                        polist = datas[i][0];
                    }
                    else {
                        polist = polist + ";" + datas[i][0];
                    }
                }
                var textbox = '<input type="number" class="txtBox" value="1" style="text-align:center">';
                rowSelection2.clear().draw();
                $.getJSON("@Url.Action("getPODetailFromPOList", "Stok")?polist=" + polist, function (data) {
                    for (var i = 0; i < data.length; i++) {
                        rowSelection2.row.add([
                            data[i].kodebarang, data[i].namabarang, data[i].order, data[i].open,
                            '<input type="number" class="txtBox" value=' + data[i].open + ' style="text-align:center">',
                            data[i].satuan, data[i].lineNum
                        ]).draw(false);
                    }
                });
            }
            else {
                rowSelection2.clear().draw();
                $.getJSON("@Url.Action("getPOWithoutVendor", "Stok")", function (data) {
                    rowSelection4.destroy();
                    $('#txtvendorname').val("");
                    $('#txtvendorcode').val("");
                    rowSelection4 = $('#dttest4').DataTable({
                        data: data,
                        columns: [
                            { "data": "pocode" },
                            { "data": "itemcode" },
                            { "data": "itemname" },
                            { "data": "qty" },
                            { "data": "openqty" },
                            { "data": "vendorcode" },
                            { "data": "vendorname" },
                            { "data": "docdate" }
                        ],
                        "columnDefs": [
                            { "className": "hidden", "targets": [5] },
                            { "className": "dt-center", "targets": [0, 1, 3, 4] }
                        ]
                    });
                });
            }
        });
        $('#btndeletedetail').click(function () {
            var data2 = rowSelection2.row('.selected').data();
            rowSelection2.row('.selected').remove().draw(false);
            var datas = rowSelection.rows().data();
            var dataes = rowSelection2.rows().data();
            var podeleted = data2[5];
            var button = '<button type="button" id="btnremove" class="btn btn-danger" style="margin:auto;display:block"> Remove</button>';
            rowSelection.clear().draw();
            var checkisone = 0;
            for (var i = 0; i < datas.length; i++) {
                for (var j = 0; j < dataes.length; j++) {
                    if (dataes[j][5] == datas[i][0]) {
                        checkisone = checkisone + 1;
                    }
                }
                if (datas[i][0] != podeleted || checkisone > 0) {
                    rowSelection.row.add([
                        datas[i][0], datas[i][1], button
                    ]).draw(false);
                }
                checkisone = 0;
            }
            var currdtpolist = rowSelection.rows().data();
            if (currdtpolist.length == 0) {
                 $.getJSON("@Url.Action("getPOWithoutVendor", "Stok")", function (data) {
                    rowSelection4.destroy();
                    $('#txtvendorname').val("");
                    $('#txtvendorcode').val("");
                    rowSelection4 = $('#dttest4').DataTable({
                        data: data,
                        columns: [
                            { "data": "pocode" },
                            { "data": "itemcode" },
                            { "data": "itemname" },
                            { "data": "qty" },
                            { "data": "openqty" },
                            { "data": "vendorcode" },
                            { "data": "vendorname" },
                            { "data": "docdate" }
                        ],
                        "columnDefs": [
                            { "className": "hidden", "targets": [5] },
                            { "className": "dt-center", "targets": [0, 1, 3, 4] }
                        ]
                    });
                });
            }
        });
        @*$.getJSON("@Url.Action("getVendor", "Stok")", function (data) {
            rowSelection3 = $('#dttest3').DataTable({
                data: data,
                columns: [
                    { "data": "vendorcode" },
                    { "data": "vendorname" }
                ],
                "columnDefs": [
                    { "className": "dt-center", "targets": [0] }
                ]
            });
             $('#dttest3').on('click', 'tr', function () {
                 if ($(this).hasClass('selected')) {
                     $(this).removeClass('selected');
                 }
                 else {
                     rowSelection3.$('tr.selected').removeClass('selected');
                     $(this).addClass('selected');
                 }
             });
        });*@
        $.getJSON("@Url.Action("getPOWithoutVendor", "Stok")", function (data) {
            rowSelection4 = $('#dttest4').DataTable({
                data: data,
                columns: [
                    { "data": "pocode" },
                    { "data": "itemcode" },
                    { "data": "itemname" },
                    { "data": "qty" },
                    { "data": "openqty" },
                    { "data": "vendorcode" },
                    { "data": "vendorname" },
                    { "data": "docdate" }
                ],
                "columnDefs": [
                    { "className": "hidden", "targets": [5] },
                    { "className": "dt-center", "targets": [0, 1, 3, 4] }
                ]
            });
            $('#dttest4').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    rowSelection4.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
        });
    })
    $(function () {
        var today = new Date();
        $("#datepicker1").datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            endDate: "today",
            maxDate: today
        });
    });
    function onchangeevent5()
    {
        rowSelection.clear().draw();
        rowSelection2.clear().draw();
        var getreference = document.getElementById("dropdowntipe5");
        var getvalue = getreference.options[getreference.selectedIndex].value;
        if (getvalue == "0") {
            document.getElementById("dropdowntipe6").disabled = true;
            document.getElementById("btnaddreffpo").disabled = true;
        }
        else {
            document.getElementById("dropdowntipe6").disabled = false;
            document.getElementById("btnaddreffpo").disabled = false;
            document.getElementById("dropdowntipe6").options.length = 0;
            var dropdown2 = document.getElementById("dropdowntipe6");
            $.getJSON("@Url.Action("getPOFromVendor", "Stok")?vendorcode=" + getvalue, function (data) {
                for (var i = 0; i < data.length; i++)
                {
                    var option = document.createElement('option');
                    option.text = data[i].nopo;
                    option.value = data[i].nopo;
                    dropdown2.add(option, 0);
                }
            });
        }
    }
</script>
<div>
    <div>
        <div id="page-content" style="font-size:14px">
            <div class="col-sm-12">
                <div class="panel panel-bordered panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add GRPO</h3>
                    </div>
                    @using (Html.BeginForm("AddTransferIn", "Transfer", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="demo-hor-inputemail">Date</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.tanggal, new { @type = "text", @class = "form-control", @id = "datepicker1", @required = "required" })
                            </div>
                            <label class="col-sm-1 control-label" for="demo-hor-inputemail">Notes</label>
                            <div class="col-sm-3">
                                @Html.TextAreaFor(model => model.keterangan, new { @type = "text", @class = "form-control", @id = "txtcomment", @required = "required", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="demo-hor-inputemail">Vendor</label>
                            <div class="col-sm-2">
                                @Html.TextBoxFor(model => model.vendorname, new { @type = "text", @id = "txtvendorname", @class = "form-control", @required = "required", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-2" hidden>
                                @Html.TextBoxFor(model => model.vendorcode, new { @type = "text", @id = "txtvendorcode", @class = "form-control", @required = "required" })
                            </div>
                            <div class="col-sm-1" hidden>
                                <button type="button" class="btn btn-primary fileinput-button dz-clickable" data-toggle="modal" data-target="#myModal">
                                    <span>Select</span>
                                </button>
                            </div>
                            <label class="col-sm-1 control-label" for="demo-hor-inputemail" hidden>Reff PO</label>
                            <div class="col-sm-2" hidden>
                                @{
                                    List<SelectListItem> listItems6 = new List<SelectListItem>();

                                }
                                @Html.DropDownListFor(model => model.vendorcode, listItems6, new { @id = "dropdowntipe6", @class = "form-control", @disabled = "true" })
                            </div>
                            <label class="col-sm-3 control-label" for="demo-hor-inputemail" hidden>Reff PO</label>
                            <div class="col-sm-2" hidden>
                                @Html.TextBoxFor(model => model.reffpo, new { @type = "text", @id = "txtreffpo", @class = "form-control", @required = "required" })
                            </div>
                            <div class="col-sm-3" hidden>
                                <button type="button" id="btnaddreffpo" class="btn btn-primary" disabled> Add Reff PO</button>
                            </div>
                            <label class="col-sm-1 control-label" for="demo-hor-inputemail" hidden>Cart</label>
                            <div class="col-sm-3" hidden>
                                @Html.TextBox("cart", "", new { @type = "text", @class = "form-control", @disabled = "disabled" })
                            </div>
                            <label class="col-sm-1 control-label" for="demo-hor-inputemail" id="lbltostore" hidden>To Store</label>
                            <div class="col-sm-3" id="txttostore" hidden>
                                @Html.TextBoxFor(model => model.lockdate, new { @type = "text", @id = "lockdate", @class = "form-control", @required = "required", @maxlength = "50", @disabled = "true" })
                            </div>
                        </div>
                        <div class="form-group"></div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <button type="button" id="btnchoosereffpo" class="btn btn-primary" data-toggle="modal" data-target="#myModal2"> Choose Reff PO</button>
                                <button type="button" class="btn btn-primary fileinput-button dz-clickable" id="btndeletecart">Delete PO</button>
                            </div>
                        </div>
                        <table id="dttest" class="display DataTable" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="10px" style="text-align:center">Purchase Order</th>
                                    <th width="10px" style="text-align:center">Total Item</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div class="form-group"></div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-primary fileinput-button dz-clickable" id="btndeletedetail">Delete Item</button>
                            </div>
                        </div>
                        <table id="dttest2" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="10px" style="text-align:center">Code</th>
                                    <th width="10px" style="text-align:center">Name</th>
                                    <th width="10px" style="text-align:center">PO Qty</th>
                                    <th width="10px" style="text-align:center">Open Qty</th>
                                    <th width="10px" style="text-align:center">Qty</th>
                                    <th width="10px" style="text-align:center">PO</th>
                                    <th width="10px" style="text-align:center">Line Num</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div class="form-group"></div>
                        <div class="mar-ver pad-btm" id="errormessage" hidden>
                            <h3 class="h4 mar-no">Qty Must Greater Than 0</h3>
                        </div>
                        <div class="mar-ver pad-btm" id="errormessage2" hidden>
                            <h3 class="h4 mar-no">Qty Not Valid</h3>
                        </div>
                    </div>
                            <div class="panel-footer text-right">
                                <div class="box-inline">
                                    <button type="button" id="btncancel" class="btn btn-danger" onclick="onclickcancel()"> Cancel</button>
                                    <button id="btnSaveItem" class="btn btn-success" type="button" name="submitorder">Submit</button>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Choose Vendor</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="dttest3" class="display DataTable" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th width="10px" style="text-align:center">Code</th>
                                <th width="10px" style="text-align:center">Name</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnchoose" data-dismiss="modal">Choose</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Choose PO</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="dttest4" class="display DataTable" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th width="10px" style="text-align:center">PO Code</th>
                                <th width="10px" style="text-align:center">Item Code</th>
                                <th width="10px" style="text-align:center">Item Name</th>
                                <th width="10px" style="text-align:center">Qty</th>
                                <th width="10px" style="text-align:center">Open Qty</th>
                                <th width="10px" style="text-align:center">Vendor Code</th>
                                <th width="10px" style="text-align:center">Vendor Name</th>
                                <th width="10px" style="text-align:center">Doc Date</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnchoosepo" data-dismiss="modal">Choose</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
