﻿@model POSVITWeb.Models.TransferOutDetailClass
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Asset/js/jquery.min.js"></script>
<script src="~/Asset/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-3.1.1.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-1-8-23-ui.min.js" type="text/javascript"></script>
<script src="~/Asset/js/bootstrap-datepicker.js" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Asset/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/buttons.datatable.min.css")" rel="stylesheet" type="text/css" />
<script src="~/Asset/js/jquery.datatable.min.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Asset/js/datatable.buttons.min.js"></script>
<script src="~/Asset/js/buttons.flash.min.js"></script>
<script src="~/Asset/js/buttons.html5.min.js"></script>
<script src="~/Asset/js/buttons.print.min.js"></script>
<script src="~/Asset/js/jszip.min.js"></script>
<script src="~/Asset/js/pdfmake.min.js"></script>
<script src="~/Asset/js/vfs_font.js"></script>

<script src="~/Asset/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script>
    var rowSelection;
    var rowSelection2;
    var nofaktur = '';
    $(document).ready(function () {
        //var rowSelection = $('#dttest').DataTable({
        //    "ajax": {
        //        "url": "../Transfer/getItemFromStore/",
        //        "dataSrc": ""
        //    },
        //    "columns": [{
        //        "data": "kodebarang"
        //    }, {
        //        "data": "namabarang"
        //    }, {
        //        "data": "namakategori"
        //    }, {
        //        "data": "namaprodusen"
        //    }, {
        //        "data": "stock"
        //    }]
        //});
        nofaktur = document.getElementById("txtnofaktur").value;
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $('#datepicker1').val(today);
        var counter = 1;
        rowSelection = $('#dttest').DataTable();
        rowSelection2 = $('#dttest2').DataTable({
            "responsive": true,
            "language": {
                "paginate": {
                    "previous": '<i class="demo-psi-arrow-left"></i>',
                    "next": '<i class="demo-psi-arrow-right"></i>'
                }
            },
            "columnDefs": [
                { "className": "hidden", "targets": [2, 3] },
                { "className": "dt-center", "targets": [0, 4] }
            ],
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    title: 'No Faktur : ' + nofaktur
                }
            ]
        });
        $('#dttest2').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                rowSelection2.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');

            }
        });
        $('#demo-dt-delete-btn').appendTo($("div.toolbar"));
        $('#dt-add-btn').appendTo($("div.toolbar"));
        $('#demo-dt-delete-btn').click(function () {
            var data = rowSelection2.rows('.selected').data();
            var skuid = data[0][0];
            window.location.href = "@Url.Action("DeleteSite","Home")?siteid=" + skuid;
        });
        $('#dttest').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                rowSelection.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
        $('#btnprint').click(function () {
            var textbox = '<input type="number" class="txtBox" value="1" style="text-align:center">';
            var data = rowSelection.rows('.selected').data();
            var getcart = document.getElementById("cart").value;
            if (getcart.length == 0) {
                $('#cart').val(data[0].kodebarang);
                rowSelection2.row.add([
                    data[0].kodebarang, data[0].namabarang, data[0].harga, data[0].stock, textbox
                ]).draw(false);
                counter++;
            }
            else {
                if (getcart.indexOf(data[0][0]) == -1) {
                    $('#cart').val(getcart + ";" + data[0].kodebarang);
                    rowSelection2.row.add([
                        data[0].kodebarang, data[0].namabarang, data[0].harga, data[0].stock, textbox
                    ]).draw(false);
                    counter++;
                }
            }
        });
        $('#btndeletecart').click(function () {
            rowSelection2.row('.selected').remove().draw(false);
        });
        $('#btnSaveItem').click(function () {
            var getdate = document.getElementById("datepicker1").value;
            var getcomment = document.getElementById("txtcomment").value;
            var dropdown2 = document.getElementById("dropdowntipe4");
            var gettype = dropdown2.options[dropdown2.selectedIndex].value;
            var data = rowSelection2.rows().data();
            var cart = '';
            for (var i = 0; i < data.length; i++) {
                if (i == 0) {
                    cart = data[i][0] + '$' + rowSelection2.cell(i, 4).nodes().to$().find('input').val() +
                        "$" + data[i][2] + "$" + data[i][3];
                }
                else {
                    cart = cart + ';' + data[i][0] + '$' +
                        rowSelection2.cell(i, 4).nodes().to$().find('input').val() + "$" + data[i][2] + "$" +
                        data[i][3];
                }
                //alert(rowSelection2.cell(i, 2).nodes().to$().find('input').val());
            }
            window.location.href = "@Url.Action("SubmitStokOpname","Stok")?tanggal=" + getdate + "&keterangan=" +
                getcomment + "&type=" + gettype + "&cart=" + cart;
        });
        $('#btncancel').click(function () {
             window.location.href = "@Url.Action("StokOpnameTemporary","Stok")";
        });
        $.getJSON("@Url.Action("getItemFromStoreSTO", "Stok")", function (data) {
            rowSelection.destroy();
            rowSelection = $('#dttest').DataTable({
                data: data,
                columns: [
                    { "data": "kodebarang" },
                    { "data": "namabarang" },
                    { "data": "namakategori" },
                    { "data": "namaprodusen" },
                    { "data": "stock" },
                    { "data": "harga" },
                    { "data": "satuan" }
                ]
            });
            //for (var i = 0; i < data.length; i++) {
            //    rowSelection.row.add([
            //        data[i].kodebarang, data[i].namabarang, data[i].namakategori, data[i].namaprodusen, data[i].stock
            //    ]).draw(false);
            //}
        });
    })
    $(function () {
        $("#datepicker1").datepicker({
            format: 'yyyy-mm-dd'
        });
    });
    function onchangeevent8()
    {
        rowSelection2.clear().draw();
        var getreference = document.getElementById("dropdowntipe8");
        var getvalue = getreference.options[getreference.selectedIndex].value;
        var kodelokasi = @Session["kode_lokasi"].ToString();
        $.getJSON("@Url.Action("getItemFromStoreTR", "Transfer")?kodelokasi=" + kodelokasi, function (data) {
            rowSelection.destroy();
            rowSelection = $('#dttest').DataTable({
                data: data,
                columns: [
                    { "data": "kodebarang" },
                    { "data": "namabarang" },
                    { "data": "namakategori" },
                    { "data": "namaprodusen" },
                    { "data": "stock" }
                ]
            });
            //for (var i = 0; i < data.length; i++) {
            //    rowSelection.row.add([
            //        data[i].kodebarang, data[i].namabarang, data[i].namakategori, data[i].namaprodusen, data[i].stock
            //    ]).draw(false);
            //}
        });
    }

    function onclickprint() {
        window.print();
    }
</script>
<div>
    <div>
        <div id="page-content" style="font-size:14px">
            <div class="col-sm-12">
                <div class="panel panel-bordered panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Details Stock Opname</h3>
                    </div>
                    @using (Html.BeginForm("AddTransferOut", "Transfer", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">No Faktur</label>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(model => model.nofaktur, new { @type = "text", @class = "form-control", @id = "txtnofaktur", @onchange = "onchangedatetime1()", @required = "required", @disabled = "true" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">Date</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.tanggal, new { @type = "text", @class = "form-control", @id = "datepicker1", @onchange = "onchangedatetime1()", @required = "required", @disabled = "true" })
                                </div>
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail">Notes</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.comment, new { @type = "text", @class = "form-control", @id = "txtcomment", @required = "required", @maxlength = "50", @disabled = "true" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">Store</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.fromstore, new { @type = "text", @class = "form-control", @required = "required", @maxlength = "50", @disabled = "true" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label" for="demo-hor-inputemail" hidden>Cart</label>
                                <div class="col-sm-3" hidden>
                                    @Html.TextBox("cart", "", new { @type = "text", @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <table id="dttest2" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th width="10px" style="text-align:center">Code</th>
                                        <th width="10px" style="text-align:center">Name</th>
                                        <th width="10px" style="text-align:center">Harga</th>
                                        <th width="10px" style="text-align:center">Stok</th>
                                        <th width="10px" style="text-align:center">Qty</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.carts)
                                    {
                                        <tr>
                                            <td style="text-align:center">@</td>
                                            <td>@</td>
                                            <td style="text-align:right">@</td>
                                            <td style="text-align:center">@</td>
                                            <td style="text-align:center">@</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th style="text-align:center;">Total</th>
                                        <th></th>
                                        <th style="text-align:center">@Html.ValueFor(model => model.totalqty)</th>
                                        <th style="text-align:center">@Html.ValueFor(model => model.totalqtykirim)</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="panel-footer text-right">
                            <div class="box-inline">
                                <button type="button" id="btncancel" class="btn btn-danger" onclick="onclickcancel()"> Back</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>