﻿@model POSVITWeb.Models.ItemMasterDetailsClass
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Asset/js/jquery.min.js"></script>
<script src="~/Asset/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-3.1.1.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-1-8-23-ui.min.js" type="text/javascript"></script>
<script src="~/Asset/js/bootstrap-datepicker.js" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Asset/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/buttons.datatable.min.css")" rel="stylesheet" type="text/css" />
<script src="~/Asset/js/jquery.datatable.min.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Asset/js/datatable.buttons.min.js"></script>
<script src="~/Asset/js/buttons.flash.min.js"></script>
<script src="~/Asset/js/buttons.html5.min.js"></script>
<script src="~/Asset/js/buttons.print.min.js"></script>
<script src="~/Asset/js/jszip.min.js"></script>
<script src="~/Asset/js/pdfmake.min.js"></script>
<script src="~/Asset/js/vfs_font.js"></script>

<script src="~/Asset/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script>
    var rowSelection;
    var rowSelection2;
    $(document).ready(function () {
        rowSelection = $('#dttest').DataTable({
            "responsive": true,
            "language": {
                "paginate": {
                    "previous": '<i class="demo-psi-arrow-left"></i>',
                    "next": '<i class="demo-psi-arrow-right"></i>'
                }
            },
            "order": [[0, "desc"]]
        });
        rowSelection2 = $('#dttest2').DataTable({
            "responsive": true,
            "language": {
                "paginate": {
                    "previous": '<i class="demo-psi-arrow-left"></i>',
                    "next": '<i class="demo-psi-arrow-right"></i>'
                }
            },
            "order": [[0, "desc"]]
        });
        $('#btncancel').click(function () {
             window.location.href = "@Url.Action("ItemMaster", "MasterData")";
        });
    })
    function onchangefile() {
        var input, file;
        if (!window.FileReader) {
            bodyAppend("p", "The file API isn't supported on this browser yet.");
            return;
        }

        input = document.getElementById('files');
        if (!input) {
            bodyAppend("p", "Um, couldn't find the fileinput element.");
        }
        else if (!input.files) {
            bodyAppend("p", "This browser doesn't seem to support the `files` property of file inputs.");
        }
        else if (!input.files[0]) {
            bodyAppend("p", "Please select a file before clicking 'Load'");
        }
        else {
            file = input.files[0];
            if (parseInt(file.size) > 1500000) {
                var reader = new FileReader();
                reader.onload = function () {
                    var data = this.result;
                    var img = new Image();
                    img.src = data;
                    img.onload = function () {
                    };
                };
                reader.readAsDataURL(file);
            }
        }
    }
</script>
<div>
    <div>
        <div id="page-content" style="font-size:14px">
            <div class="col-sm-12">
                <div class="panel panel-bordered panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Details Item Master</h3>
                    </div>
                    @using (Html.BeginForm("DetailsItemMaster", "MasterData", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                    <div class="panel-body">
                        <div class="form-group" hidden>
                            <label class="col-sm-3 control-label" for="demo-hor-inputemail">Item Code</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.realkodebarang, new { @type = "text", @class = "form-control" })
                            </div>
                            <label class="col-sm-1 control-label" for="demo-hor-inputemail">Nama</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.realnama, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="demo-hor-inputemail">Item Code</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.kodebarang, new { @type = "text", @class = "form-control", @id = "txtnofaktur", @onchange = "onchangedatetime1()", @required = "required", @disabled = "true" })
                            </div>
                            <label class="col-sm-1 control-label" for="demo-hor-inputemail">Barcode</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.itemcode, new { @type = "text", @class = "form-control", @id = "txtcomment", @required = "required", @maxlength = "50", @disabled = "true" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="demo-hor-inputemail">Name</label>
                            <div class="col-sm-3">
                                @Html.TextAreaFor(model => model.nama, new { @type = "text", @class = "form-control", @id = "datepicker1", @onchange = "onchangedatetime1()", @required = "required", @disabled = "true" })
                            </div>
                            <label class="col-sm-1 control-label" for="demo-hor-inputemail">Category</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.namakategori, new { @type = "text", @class = "form-control", @id = "datepicker1", @onchange = "onchangedatetime1()", @required = "required", @disabled = "true" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="demo-hor-inputemail">Measure</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.satuan, new { @type = "text", @class = "form-control", @id = "txtcomment", @required = "required", @maxlength = "50", @disabled = "true" })
                            </div>
                            <label class="col-sm-1 control-label" for="demo-hor-inputemail">Supplier</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.namavendor, new { @type = "text", @class = "form-control", @id = "txtcomment", @required = "required", @maxlength = "50", @disabled = "true" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="demo-hor-inputemail" hidden>Price</label>
                            <div class="col-sm-3" hidden>
                                @Html.TextBoxFor(model => model.strharga, new { @type = "text", @class = "form-control", @id = "datepicker1", @onchange = "onchangedatetime1()", @required = "required", @disabled = "true" })
                            </div>
                            <label class="col-sm-1 control-label" for="demo-hor-inputemail" hidden>Stock</label>
                            <div class="col-sm-3" hidden>
                                @Html.TextBoxFor(model => model.stok, new { @type = "text", @class = "form-control", @id = "txtcomment", @required = "required", @maxlength = "50", @disabled = "true" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">Image</label>
                                <div class="col-sm-3">
                                    <img src="@Url.Action("getItemImage", "MasterData", new { kodebarang = Model.realkodebarang })" width="100px" height="100px" />
                                </div>
                                @*<label class="col-sm-1 control-label" for="demo-hor-inputemail">Image</label>
                                <div class="col-sm-3">
                                    <input type="file" id="files" name="file" onchange="onchangefile()" accept="image/*" />
                                </div>*@
                            </div>
                        </div>
                        <div class="form-group"></div>
                        <table id="dttest2" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="10%" style="text-align:center">Price Code</th>
                                    <th width="25%" style="text-align:center">Price Name</th>
                                    <th width="10%" style="text-align:center">Price</th>
                                    <th width="25%" style="text-align:center">Disc</th>
                                    <th width="25%" style="text-align:center">Nett Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.prices)
                                {
                                <tr>
                                    <td style="text-align:center">@item.kodecustomergroup</td>
                                    <td style="text-align:left">@item.namacustomergroup</td>
                                    <td style="text-align:right">@item.strharga</td>
                                    <td style="text-align:right">@item.disc</td>
                                    <td style="text-align:right">@item.strHargaNett</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        <div class="form-group"></div>
                        @if (Model.stocks != null)
                        {
                            <table id="dttest" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th width="10%" style="text-align:center">Location Code</th>
                                        <th width="25%" style="text-align:center">Location Name</th>
                                        <th width="10%" style="text-align:center">Stock</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.stocks)
                                    {
                                        <tr>
                                            <td style="text-align:center">@item.kodelokasi</td>
                                            <td style="text-align:left">@item.namalokasi</td>
                                            <td style="text-align:center">@item.stok</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                        <div class="panel-footer text-right">
                            <div class="box-inline">
                                <button type="button" id="btncancel" class="btn btn-danger" onclick="onclickcancel()"> Back</button>
                                <button type="submit" id="btnsuccess" class="btn btn-success" onclick="onclickcancel()"> Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>