﻿@model IEnumerable<POSVITWeb.Models.ItemMasterClass>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Asset/js/jquery.min.js"></script>
<script src="~/Asset/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-3.1.1.js" type="text/javascript"></script>
<script src="~/Asset/js/jquery-1-8-23-ui.min.js" type="text/javascript"></script>
<script src="~/Asset/js/bootstrap-datepicker.js" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Asset/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/buttons.datatable.min.css")" rel="stylesheet" type="text/css" />
<script src="~/Asset/js/jquery.datatable.min.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Asset/js/datatable.buttons.min.js"></script>
<script src="~/Asset/js/buttons.flash.min.js"></script>
<script src="~/Asset/js/buttons.html5.min.js"></script>
<script src="~/Asset/js/buttons.print.min.js"></script>
<script src="~/Asset/js/jszip.min.js"></script>
<script src="~/Asset/js/pdfmake.min.js"></script>
<script src="~/Asset/js/vfs_font.js"></script>
<script src="~/Asset/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/Asset/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Asset/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script>
    var rowSelection;
    $(document).ready(function () {
        
        $('#dttest tbody').on('dblclick', 'tr', function () {
            //var data = rowSelection.row(this).data();
            var data = rowSelection.rows('.selected').data();
            window.location.href = "@Url.Action("DetailsItemMaster","MasterData")?kodebarang=" + data[0].kodebarang;
        });
         $.getJSON("@Url.Action("getAllItem", "MasterData")", function (data) {
             
             rowSelection = $('#dttest').DataTable({
                data: data,
                columns: [
                    { "data": "kodebarang" },
                    { "data": "nama" },
                    { "data": "namakategori" },
                    { "data": "satuan" },
                    //{ "data": "strharga" },
                    { "data": "strStock" },
                    { "data": "barcode" }
                ],
                "responsive": true,
                "language": {
                    "paginate": {
                        "previous": '<i class="demo-psi-arrow-left"></i>',
                        "next": '<i class="demo-psi-arrow-right"></i>'
                    }
                },
                //"columnDefs": [
                //    { "className": "hidden", "targets": [4, 5] },
                //    { "className": "dt-right", "targets": [4, 5] },
                //    { "className": "dt-center", "targets": [0, 3, 6] },
                //    { "targets": [3, 4, 5], "searchable": false }
                //],
                //"order": [[0, "asc"]]
             });
             $('#dttest').on('click', 'tr', function () {
                 if ($(this).hasClass('selected')) {
                     //$(this).removeClass('selected');
                     //var data = rowSelection.rows('.selected').data();
                    
                 }
                 else {
                     rowSelection.$('tr.selected').removeClass('selected');
                     $(this).addClass('selected');
                 }
             });
        });
    })
</script>
<div>
    <div>
        <div id="page-content" style="font-size:14px">
            <div class="col-sm-12">
                <div class="panel panel-bordered panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Item Master Data</h3>
                    </div>
                    @if (ViewBag.Message != null)
                    {
                        <div class="mar-ver pad-btm">
                            <h3 class="h4 mar-no">@ViewBag.Message</h3>
                        </div>
                    }
                    <div class="panel-body">
                        <div class="form-group"></div>
                        <table id="dttest" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="10%" style="text-align:center">Code</th>
                                    <th width="25%" style="text-align:center">Name</th>
                                    <th width="10%" style="text-align:center">Category</th>
                                    <th width="5%" style="text-align:center">UoM</th>
                                    @*<th width="10%" style="text-align:center">Price</th>*@
                                    <th width="5%" style="text-align:center">Stock</th>
                                    <th width="10%" style="text-align:center">Barcode</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@foreach (var item in Model)
                                    {
                                    <tr>
                                        <td style="text-align:center">@item.kodebarang</td>
                                        <td>@item.nama</td>
                                        <td>@item.namakategori</td>
                                        <td style="text-align:center">@item.satuan</td>
                                        <td style="text-align:right">@item.strharga</td>
                                        <td style="text-align:center">@item.stok</td>
                                        <td style="text-align:center">
                                            <a class="btn btn-xs btn-primary add-tooltip" data-toggle="tooltip" href="~/MasterData/DetailsItemMaster?kodebarang=@item.kodebarang" data-original-title="Item" data-container="body"><i class="fa fa-edit"></i></a>
                                        </td>
                                    </tr>
                                    }*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>